Repository Refinitiv/refinitiv-ui, pull requests merged in 2021-11, with the labels that each got.

#56 refactor(core): re-export * from Lit directives
  packages/core/src/directives/async-append.ts
  packages/core/src/directives/async-replace.ts
  packages/core/src/directives/cache.ts
  packages/core/src/directives/class-map.ts
  packages/core/src/directives/guard.ts
  packages/core/src/directives/if-defined.ts
  packages/core/src/directives/live.ts
  packages/core/src/directives/ref.ts
  packages/core/src/directives/repeat.ts
  packages/core/src/directives/style-map.ts
  packages/core/src/directives/template-content.ts
  packages/core/src/directives/unsafe-html.ts
  packages/core/src/directives/unsafe-svg.ts
  packages/core/src/directives/until.ts
Labels: enhancement

#44 Add grid navigation
  packages/utils/README.md
  packages/utils/package.json
  packages/utils/src/grid.ts
  packages/utils/src/grid/navigation.ts
  packages/utils/src/utils.ts
Labels: accessibility

#57 fix: incorrect tap behaviour
  packages/core/__test__/events/TapEvent.test.js
  packages/core/src/events/TapEvent.ts
  packages/elements/src/button/__test__/button.test.js
  packages/elements/src/button/index.ts
Labels: bug, accessibility

#47 Improve performance of icon, list and tree
  packages/elements/src/icon/index.ts
  packages/elements/src/icon/utils/IconLoader.ts
  packages/elements/src/list/index.ts
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree-item.ts
  packages/elements/src/tree/managers/tree-manager.ts
Labels: performance

#54 feat(clock): small analogue clock face
  packages/elemental-theme/src/custom-elements/ef-clock.less
  packages/elemental-theme/src/resources/images/clock/small.svg
  packages/elements/src/clock/__demo__/index.html
  packages/elements/src/clock/__snapshots__/Clock.md
  packages/elements/src/clock/__test__/clock.analogue.test.js
  packages/elements/src/clock/__test__/clock.test.js
  packages/elements/src/clock/index.ts
  packages/halo-theme/src/custom-elements/ef-clock.less
  packages/solar-theme/src/custom-elements/ef-clock.less
Labels: enhancement

#53 fix(tree-select): update condition for selectAll
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/index.ts
Labels: bug

#65 feat(text-field): improve screen reader
  packages/elements/src/text-field/__demo__/index.html
  packages/elements/src/text-field/__snapshots__/TextField.md
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/text-field/index.ts
Labels: accessibility

#90 fix(phrasebook): change ICU syntax on japanese language
  packages/phrasebook/src/locale/ja/tree-select.ts
Labels: bug

#92 fix(combo-box): import counter instead of pill
  packages/elements/src/combo-box/__test__/combo-box.interaction.test.js
  packages/elements/src/combo-box/index.ts
Labels: bug

#93 fix(tree-item): reduce space between checkbox and label
  packages/halo-theme/src/custom-elements/ef-tree-item.less
  packages/solar-theme/src/custom-elements/ef-tree-item.less
Labels: bug

#91 fix(combo-box): overwrite icon color on disabled state in solar theme
  packages/elemental-theme/src/custom-elements/ef-combo-box.less
  packages/elements/src/combo-box/__test__/combo-box.async.test.js
  packages/elements/src/combo-box/__test__/combo-box.template.test.js
  packages/elements/src/combo-box/index.ts
  packages/solar-theme/src/custom-elements/ef-combo-box.less
Labels: bug
