Repository Refinitiv/refinitiv-ui, pull requests merged in 2021-12, with the labels that each got.

#88 feat(list): improve screen reader
  packages/elements/src/combo-box/__snapshots__/AsyncFilter.md
  packages/elements/src/combo-box/__snapshots__/Filter.md
  packages/elements/src/combo-box/__snapshots__/Selected.md
  packages/elements/src/combo-box/__snapshots__/Template.md
  packages/elements/src/combo-box/__snapshots__/Value.md
  packages/elements/src/list/__demo__/index.html
  packages/elements/src/list/__snapshots__/List.md
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/list/helpers/list-renderer.ts
  packages/elements/src/list/index.ts
  packages/elements/src/tree/__snapshots__/Tree.md
Labels: accessibility

#80 feat(select): improve screen reader support
  packages/elements/src/select/__demo__/index.html
  packages/elements/src/select/__snapshots__/Selection.md
  packages/elements/src/select/__snapshots__/Template.md
  packages/elements/src/select/__snapshots__/Value.md
  packages/elements/src/select/__test__/select.navigation.test.js
  packages/elements/src/select/index.ts
Labels: accessibility

#73 feat(calendar): add accessibility
  packages/elemental-theme/src/custom-elements/ef-calendar.less
  packages/elements/src/calendar/__snapshots__/Defaults.md
  packages/elements/src/calendar/__snapshots__/KeyboardNavigation.md
  packages/elements/src/calendar/__snapshots__/Multiple.md
  packages/elements/src/calendar/__snapshots__/Navigation.md
  packages/elements/src/calendar/__snapshots__/Range.md
  packages/elements/src/calendar/__snapshots__/Value.md
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/__test__/calendar.keyboard.test.js
  packages/elements/src/calendar/__test__/calendar.multiple.test.js
  packages/elements/src/calendar/__test__/calendar.navigation.test.js
  packages/elements/src/calendar/__test__/calendar.range.test.js
  packages/elements/src/calendar/__test__/calendar.value.test.js
  packages/elements/src/calendar/__test__/utils.js
  packages/elements/src/calendar/constants.ts
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/locales.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
  packages/elements/src/datetime-picker/__snapshots__/DOMStructure.md
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/halo-theme/src/custom-elements/ef-calendar.less
  packages/phrasebook/src/locale/de/calendar.ts
  packages/phrasebook/src/locale/en/calendar.ts
  packages/phrasebook/src/locale/ja/calendar.ts
  packages/phrasebook/src/locale/zh-hant/calendar.ts
  packages/phrasebook/src/locale/zh/calendar.ts
  packages/solar-theme/src/custom-elements/ef-calendar.less
Labels: accessibility

#114 Add named entry point exports
  packages/elements/package.json
  packages/elements/src/color-dialog/__demo__/index.html
  packages/elements/src/dialog/__demo__/index.html
  packages/elements/src/pagination/__demo__/index.html
  packages/elements/src/tree-select/__demo__/index.html
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/ja/calendar.ts
  packages/phrasebook/src/locale/zh/calendar.ts
Labels: bug

#117 fix(counter): change width height, font size, bg color to proper style
  packages/elemental-theme/src/custom-elements/ef-combo-box.less
  packages/halo-theme/src/custom-elements/ef-combo-box.less
  packages/halo-theme/src/custom-elements/ef-counter.less
  packages/halo-theme/src/variants/dark/variables.less
  packages/halo-theme/src/variants/light/variables.less
Labels: bug

#132 fix(halo-theme): fix import native-element path
  packages/halo-theme/package.json
Labels: bug

#77 Feature/pagination support max unknown
  packages/elemental-theme/src/custom-elements/ef-pagination.less
  packages/elements/src/pagination/__demo__/index.html
  packages/elements/src/pagination/__snapshots__/Pagination.md
  packages/elements/src/pagination/__test__/pagination.test.js
  packages/elements/src/pagination/helpers/types.ts
  packages/elements/src/pagination/index.ts
  packages/halo-theme/src/custom-elements/ef-pagination.less
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/solar-theme/src/custom-elements/ef-pagination.less
Labels: enhancement

#136 chore: add incremental to TypeScript compiler option for faster subsequent builds
  package-lock.json
  tsconfig.json
Labels: performance

#137 ci: create `GitHub release` and changelog on release
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: enhancement

#140 Use GitHub pipeline multiple stage for the test workflow
  .github/actions/setup/action.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  packages/core/package.json
  packages/i18n/package.json
  packages/phrasebook/package.json
  packages/test-helpers/package.json
Labels: enhancement
