Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-11, with the labels that each got.

#512 docs(tutorial): replace vanilla page with bundling page
  documents/src/navigation.md
  documents/src/pages/build-app/bundling-configuration.md
  documents/src/pages/build-app/framework-integration/vue.md
Labels: documentation

#448 feat(color-picker): add accessibility
  documents/src/navigation.md
  documents/src/pages/elements/color-picker.md
  documents/src/templates/import-element/ef-color-picker.md
  packages/elements/src/color-picker/__demo__/index.html
  packages/elements/src/color-picker/__snapshots__/ColorPicker.md
  packages/elements/src/color-picker/__test__/color-picker.test.js
  packages/elements/src/color-picker/index.ts
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
Labels: accessibility

#510 Remove test for IE
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/events/TapEvent.test.js
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
  packages/elements/src/autosuggest/__test__/autosuggest.test.js
  packages/elements/src/button-bar/__test__/button-bar.test.js
  packages/elements/src/calendar/__test__/utils.js
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/checkbox/__test__/checkbox.test.js
  packages/elements/src/clock/__test__/clock.interactive.test.js
  packages/elements/src/color-dialog/__test__/color-dialog.test.js
  packages/elements/src/color-picker/__test__/color-picker.test.js
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/__test__/combo-box.interaction.test.js
  packages/elements/src/combo-box/__test__/combo-box.template.test.js
  packages/elements/src/datetime-field/__test__/utils.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/__test__/utils.js
  packages/elements/src/dialog/__test__/dialog.test.js
  packages/elements/src/heatmap/__test__/heatmap.test.js
  packages/elements/src/label/__test__/label.legacy.test.js
  packages/elements/src/label/__test__/label.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/multi-input/__test__/multi-input.test.js
  packages/elements/src/number-field/__test__/number-field.input.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/overlay-menu/__test__/utils.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/overlay/__test__/mocks/helper.js
  packages/elements/src/overlay/__test__/overlay.position.test.js
  packages/elements/src/pagination/__test__/pagination.test.js
  packages/elements/src/panel/__test__/panel.test.js
  packages/elements/src/pill/__test__/pill.test.js
  packages/elements/src/radio-button/__test__/radio-button.test.js
  packages/elements/src/rating/__test__/utils.js
  packages/elements/src/select/__test__/select.events.test.js
  packages/elements/src/select/__test__/select.navigation.test.js
  packages/elements/src/select/__test__/select.selected.test.js
  packages/elements/src/select/__test__/select.template.test.js
  packages/elements/src/slider/__test__/slider.keyboard.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.accessibility.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.value.test.js
  packages/elements/src/tab/__test__/tab.test.js
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/time-picker/__test__/time-picker.test.js
  packages/elements/src/toggle/__test__/toggle.test.js
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tornado-chart/__test__/tornado-item.test.js
  packages/elements/src/tree/__test__/tree.test.js
  packages/test-helpers/README.md
  packages/test-helpers/__test__/test-helpers.test.js
  packages/test-helpers/src/test-helpers.ts
  packages/translate/__test__/elf-translate-document.test.js
  packages/translate/__test__/elf-translate-element.test.js
  packages/translate/__test__/elf-translate.navigator.test.js
Labels: refactor

#528 docs: add Properties, Styles, Lifecycle to tutorial page
  documents/src/pages/build-element/tutorial.md
Labels: documentation

#522 docs: change example code to typescript
  documents/src/pages/build-element/state-management.md
  documents/src/pages/build-element/tutorial.md
  documents/src/pages/utils/async-tasks.md
  documents/src/pages/utils/navigation-grid.md
Labels: documentation

#525 Remove ShadyCSS and Update matches to use native API
  packages/core/__test__/utils/matches.test.js
  packages/core/src/elements/BasicElement.ts
  packages/core/src/events/TapEvent.ts
  packages/core/src/index.ts
  packages/core/src/registries/NativeStyleRegistry.ts
  packages/core/src/utils/focusableHelper.ts
  packages/core/src/utils/matches.ts
  packages/core/src/utils/shadyStyles.ts
  packages/demo-block/src/demo-block.ts
  packages/elements/src/appstate-bar/index.ts
  packages/elements/src/heatmap/__demo__/color.html
  packages/elements/src/heatmap/__demo__/event.html
  packages/elements/src/heatmap/__demo__/index.html
  packages/elements/src/led-gauge/__demo__/index.html
  packages/elements/src/notification/__demo__/index.html
  packages/elements/src/notification/elements/notification.ts
  packages/elements/src/swing-gauge/__demo__/index.html
  packages/elements/src/tooltip/elements/title-tooltip.ts
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tornado-chart/__demo__/index.html
Labels: enhancement

#539 Add KB page and update new URL in internal error
  documents/src/pages/knowlegde-bases/duplicate-element.md
  documents/src/pages/knowlegde-bases/duplicate-styles.md
  packages/core/__snapshots__/TestCustomElement.md
  packages/core/__snapshots__/TestCustomStyleRegistry.md
  packages/core/__snapshots__/TestDuplicateElementError.md
  packages/core/__snapshots__/TestDuplicateStyleError.md
  packages/core/__snapshots__/TestElementRegistry.md
  packages/core/__snapshots__/TestNativeStyleRegistry.md
  packages/core/src/errors/DuplicateElementError.ts
  packages/core/src/errors/DuplicateStyleError.ts
Labels: documentation

#537 fix(item): add default line-height
  packages/elemental-theme/src/custom-elements/ef-item.less
Labels: bug
