Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-07, with the labels that each got.

#389 Fix/tab bar resize callback is not fired when a new tab added
  package-lock.json
  packages/elemental-theme/src/custom-elements/ef-tab-bar.less
  packages/elements/src/tab-bar/__snapshots__/Template.md
  packages/elements/src/tab-bar/__test__/tab-bar.accessibility.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.template.test.js
  packages/elements/src/tab-bar/index.ts
  packages/elements/src/time-picker/__snapshots__/TimePicker.md
Labels: bug

#386 Add safari automate test
  .github/actions/checkout-install-and-build/action.yml
  .github/actions/run-test/action.yml
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
  browsers.config.js
  karma.config.js
  package-lock.json
  package.json
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/elements/browsers.config.js
  packages/elements/scripts/cmd/test.js
  packages/elements/src/calendar/__snapshots__/Defaults.md
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/card/__test__/card.test.js
  packages/elements/src/checkbox/__test__/checkbox.test.js
  packages/elements/src/combo-box/__test__/combo-box.selected.test.js
  packages/elements/src/combo-box/__test__/combo-box.template.test.js
  packages/elements/src/combo-box/__test__/combo-box.value.test.js
  packages/elements/src/datetime-field/__test__/datetime-field.navigation.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/notification/__test__/notification.test.js
  packages/elements/src/pill/__test__/pill.test.js
  packages/elements/src/swing-gauge/__test__/swing-gauge.test.js
  packages/translate/__test__/elf-translate-element.test.js
Labels: ci, enhancement

#400 BrowserStack update docs and add a comment
  README.md
  packages/core/__test__/elements/FormFieldElement.test.js
Labels: documentation

#272 fix(list): clicking on item should focus on list itself
  package-lock.json
  packages/elemental-theme/src/custom-elements/ef-list-item.less
  packages/elemental-theme/src/custom-elements/ef-list.less
  packages/elements/src/combo-box/__snapshots__/AsyncFilter.md
  packages/elements/src/combo-box/__snapshots__/Filter.md
  packages/elements/src/combo-box/__snapshots__/Selected.md
  packages/elements/src/combo-box/__snapshots__/Template.md
  packages/elements/src/combo-box/__snapshots__/Value.md
  packages/elements/src/combo-box/__test__/combo-box.interaction.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/list/elements/list-item.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/list/helpers/renderer.ts
  packages/elements/src/list/index.ts
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree-item.ts
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/renderer.ts
  packages/halo-theme/src/custom-elements/ef-list-item.less
  packages/solar-theme/src/custom-elements/ef-list-item.less
Labels: bug

#385 ci: add bundle size report bot
  .github/workflows/size_report.yml
Labels: ci, enhancement
