Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-04, with the labels that each got.

#246 feat(tree-select): improve screen reader support
  packages/elements/src/tree-select/index.ts
Labels: accessibility

#267 Accessibility/overlay menu
  documents/src/pages/elements/overlay-menu.md
  package-lock.json
  packages/elements/src/card/__snapshots__/Card.md
  packages/elements/src/overlay-menu/__demo__/index.html
  packages/elements/src/overlay-menu/__snapshots__/Snapshot.md
  packages/elements/src/overlay-menu/__test__/overlay-menu.interaction.test.js
  packages/elements/src/overlay-menu/__test__/overlay-menu.snapshot.test.js
  packages/elements/src/overlay-menu/helpers/types.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/overlay-menu/managers/menu-manager.ts
Labels: accessibility

#270 refactor(heatmap): simplify get maximum text length logic
  packages/elements/src/heatmap/helpers/text.ts
  packages/elements/src/heatmap/index.ts
Labels: refactor

#279 fix(interactive-chart): handle case when rowLegend is null
  packages/elements/src/interactive-chart/index.ts
Labels: bug
