Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-06, with the labels that each got.

#332 feat(slider): add `range` mode accessibility support
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.keyboard.test.js
  packages/elements/src/slider/index.ts
Labels: accessibility

#346 fix(clock): sync interactiveChange code with rating
  packages/elements/src/clock/__test__/clock.interactive.test.js
  packages/elements/src/clock/index.ts
Labels: accessibility

#299 feat(slider): add arrow key navigation support and accessible aria attributes
  documents/src/pages/elements/slider.md
  packages/elemental-theme/src/custom-elements/ef-slider.less
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__snapshots__/Slider.md
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.keyboard.test.js
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/__test__/utils.js
  packages/elements/src/slider/constants.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/slider/utils.ts
Labels: accessibility

#338 feat(autosuggest): accessibility support
  documents/src/pages/elements/autosuggest.md
  packages/elements/src/autosuggest/__demo__/index.html
  packages/elements/src/autosuggest/__snapshots__/Autosuggest.md
  packages/elements/src/autosuggest/__test__/autosuggest.test.js
  packages/elements/src/autosuggest/__test__/helpers/helpers.js
  packages/elements/src/autosuggest/helpers/renderer.ts
  packages/elements/src/autosuggest/helpers/types.ts
  packages/elements/src/autosuggest/helpers/utils.ts
  packages/elements/src/autosuggest/index.ts
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/de/autosuggest.ts
  packages/phrasebook/src/locale/en/autosuggest.ts
  packages/phrasebook/src/locale/ja/autosuggest.ts
  packages/phrasebook/src/locale/zh-hant/autosuggest.ts
  packages/phrasebook/src/locale/zh/autosuggest.ts
Labels: accessibility

#333 Refactor Autosuggest
  documents/src/pages/elements/autosuggest.md
  packages/elements/src/autosuggest/__demo__/index.html
  packages/elements/src/autosuggest/__snapshots__/Autosuggest.md
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
  packages/elements/src/autosuggest/__test__/autosuggest.test.js
  packages/elements/src/autosuggest/__test__/helpers/helpers.js
  packages/elements/src/autosuggest/helpers/renderer.ts
  packages/elements/src/autosuggest/helpers/types.ts
  packages/elements/src/autosuggest/helpers/utils.ts
  packages/elements/src/autosuggest/index.ts
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/de/autosuggest.ts
  packages/phrasebook/src/locale/en/autosuggest.ts
  packages/phrasebook/src/locale/ja/autosuggest.ts
  packages/phrasebook/src/locale/zh-hant/autosuggest.ts
  packages/phrasebook/src/locale/zh/autosuggest.ts
Labels: refactor

#354 docs: add github link on nav bar
  documents/package.json
  documents/src/menu.md
  documents/src/pages/build-element/create.md
  package-lock.json
  packages/elements/README.md
Labels: documentation

#335 fix(calendar): disabled dates incorrect styles
  packages/halo-theme/src/custom-elements/ef-calendar.less
  packages/solar-theme/src/custom-elements/ef-calendar.less
Labels: bug

#359 fix(chart): donut center text selected segment cut off tooltip
  packages/elements/src/chart/__demo__/index.html
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Labels: bug

#358 fix(tree-select): show unselected item on selection filter
  packages/elements/src/tree-select/__test__/mock_data/no-relation.js
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree-select/index.ts
Labels: bug

#367 ci: fix test coverage and CLI browserstack option
  .github/workflows/test.yml
  .github/workflows/test_coverage.yml
  karma.config.js
  packages/elements/scripts/cmd/test.js
Labels: bug

#368 ci: fix test coverage fail because ci performance drop
  .github/workflows/test_coverage.yml
  karma.config.js
  packages/elements/karma.config.js
Labels: bug

#371 fix: utils TypeScript type declaration path
  packages/utils/package.json
Labels: bug

#379 docs: fix wrong phrasebook locale import paths
  documents/src/pages/build-app/internationalization.md
  packages/translate/README.md
Labels: documentation

#327 fix: replace `AriaMixins` with native `setAttribute` for arias
  packages/elements/src/checkbox/__test__/checkbox.test.js
  packages/elements/src/checkbox/index.ts
  packages/elements/src/radio-button/__test__/radio-button.test.js
  packages/elements/src/radio-button/index.ts
  packages/elements/src/toggle/__test__/toggle.test.js
  packages/elements/src/toggle/index.ts
Labels: accessibility, refactor
