Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-12, with the labels that each got.

#281 docs: add documentation for building components
  documents/package.json
  documents/src/index.md
  documents/src/menu.md
  documents/src/navigation.md
  documents/src/pages/build-app/bundling-configuration.md
  documents/src/pages/build-app/framework-integration/angular.md
  documents/src/pages/build-app/framework-integration/react.md
  documents/src/pages/build-app/framework-integration/vue.md
  documents/src/pages/build-app/internationalization.md
  documents/src/pages/build-element/aria.md
  documents/src/pages/build-element/breaking-changes.md
  documents/src/pages/build-element/code-style-testing.md
  documents/src/pages/build-element/configuration-and-states.md
  documents/src/pages/build-element/create.md
  documents/src/pages/build-element/css-parts.md
  documents/src/pages/build-element/element-types.md
  documents/src/pages/build-element/events.md
  documents/src/pages/build-element/focus-and-navigation.md
  documents/src/pages/build-element/index.md
  documents/src/pages/build-element/localisation.md
  documents/src/pages/build-element/naming-conventions.md
  documents/src/pages/build-element/notice-messages.md
  documents/src/pages/build-element/pollyfilling.md
  documents/src/pages/build-element/reporting-issues.md
  documents/src/pages/build-element/snapshot-testing.md
  documents/src/pages/build-element/state-management.md
  documents/src/pages/build-element/troubleshooting.md
  documents/src/pages/build-element/tutorial.md
  documents/src/pages/build-element/unit-testing.md
  documents/src/pages/elements/multi-input.md
  documents/src/pages/elements/slider.md
  documents/src/pages/elements/tab-bar.md
  documents/src/pages/start/styling.md
  documents/src/pages/tools/starter-templates.md
  documents/src/pages/tools/theme-compiler.md
  documents/src/pages/utils/accessibility.md
  documents/src/pages/utils/async-tasks.md
  documents/src/pages/utils/color.md
  documents/src/pages/utils/data-management.md
  documents/src/pages/utils/date-time.md
  documents/src/pages/utils/navigation-grid.md
  documents/src/templates/status-comlpete.md
  documents/src/templates/status-todo.md
  documents/src/templates/status-working.md
  package-lock.json
  packages/utils/src/date/shared.ts
Labels: documentation

#552 feat(tree): export class tree manager
  packages/elements/src/tree/index.ts
Labels: enhancement

#550 fix(number-field): fix step error when becomes 6 decimal points
  packages/elements/src/number-field/__test__/number-field.step.test.js
  packages/elements/src/number-field/index.ts
Labels: bug

#558 docs(elements): fix incorrect normalized data in LED Gauge document
  documents/src/pages/elements/led-gauge.md
Labels: documentation

#439 POC - Distributed Cache for reducing network requests
  package-lock.json
  packages/elements/src/flag/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/utils/package.json
  packages/utils/src/cache.ts
  packages/utils/src/cache/constants.ts
  packages/utils/src/cache/distributed-cache.ts
  packages/utils/src/cache/interfaces/CacheMap.ts
  packages/utils/src/cache/interfaces/CacheStorage.ts
  packages/utils/src/cache/local-cache.ts
  packages/utils/src/cache/messenger.ts
  packages/utils/src/cache/storages/indexeddb.ts
  packages/utils/src/cache/storages/localstorage.ts
  packages/utils/src/loader/svg-loader.ts
Labels: enhancement, performance

#557 fix(color-dialog): can not change value between default color and black color
  packages/elements/src/color-dialog/__test__/color-dialog.test.js
  packages/elements/src/color-dialog/helpers/value-model.ts
Labels: bug
