Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-05, with the labels that each got.

#286 refactor(slider): improve code readability and adjust code style
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__snapshots__/Slider.md
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/constants.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/slider/utils.ts
Labels: refactor

#297 Utils A11Y adds the logic to get a text from aria-label
  packages/utils/src/accessibility/helpers.ts
  packages/utils/src/accessibility/label.ts
Labels: accessibility

#306 fix(overlay): focus can be restored to an element in the ShadowDom
  packages/elements/src/overlay/managers/focus-manager.ts
Labels: bug

#307 Incorrect focus management with Shift+Tab and delegatesFocus
  packages/core/src/index.ts
  packages/elements/src/overlay/managers/focus-manager.ts
Labels: bug

#301 feat(card): support accessibility
  packages/elements/src/card/__demo__/index.html
  packages/elements/src/card/__snapshots__/Card.md
  packages/elements/src/card/__test__/card.test.js
  packages/elements/src/card/index.ts
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/de/card.ts
  packages/phrasebook/src/locale/en/card.ts
  packages/phrasebook/src/locale/ja/card.ts
  packages/phrasebook/src/locale/zh-hant/card.ts
  packages/phrasebook/src/locale/zh/card.ts
Labels: accessibility

#339 fix(clock): a11y, tick, show-seconds should not pronounce all the time
  packages/elements/src/clock/__test__/clock.interactive.test.js
  packages/elements/src/clock/index.ts
Labels: accessibility
