Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-08, with the labels that each got.

#383 fix: bump `lit` version
  package-lock.json
  packages/core/package.json
  packages/polyfills/package.json
  packages/translate/package.json
Labels: dependencies

#423 fix(radio-button): check-changed is not fired on arrow keys
  packages/elements/src/radio-button/index.ts
Labels: bug

#425 fix(overlay): Tab does not work with slotted elements
  packages/elements/src/overlay/managers/focus-manager.ts
Labels: bug

#422 fix(datetime-picker): parse invalid value to date object
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug

#432 fix(list-item): incorrect style on halo theme
  packages/halo-theme/src/custom-elements/ef-list-item.less
  packages/solar-theme/src/custom-elements/ef-list-item.less
Labels: bug

#412 feat(utils): add local cache
  documents/src/pages/utils/cache.md
  package-lock.json
  packages/elements/package.json
  packages/elements/src/icon/__demo__/index.html
  packages/utils/package.json
  packages/utils/src/cache.ts
  packages/utils/src/cache/constants.ts
  packages/utils/src/cache/interfaces/CacheItem.ts
  packages/utils/src/cache/interfaces/CacheMap.ts
  packages/utils/src/cache/interfaces/CacheStorage.ts
  packages/utils/src/cache/local-cache.ts
  packages/utils/src/cache/storages/indexeddb.ts
  packages/utils/src/cache/storages/localstorage.ts
  packages/utils/src/loader/svg-loader.ts
Labels: performance

#433 v7 using fetch
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/utils/src/loader/cdn-loader.ts
  packages/utils/src/loader/svg-loader.ts
Labels: refactor

#444 feat(color-picker): add color picker
  documents/src/pages/elements/color-picker.md
  packages/elemental-theme/src/custom-elements/ef-color-picker.less
  packages/elements/package.json
  packages/elements/src/color-dialog/__test__/color-dialog.test.js
  packages/elements/src/color-dialog/__test__/color-helpers.test.js
  packages/elements/src/color-dialog/elements/palettes.ts
  packages/elements/src/color-dialog/helpers/color-helpers.ts
  packages/elements/src/color-dialog/helpers/value-model.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/color-picker/__demo__/index.html
  packages/elements/src/color-picker/__snapshots__/ColorPicker.md
  packages/elements/src/color-picker/__test__/color-picker.test.js
  packages/elements/src/color-picker/index.ts
  packages/halo-theme/src/custom-elements/ef-color-picker.less
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
  packages/solar-theme/src/custom-elements/ef-color-picker.less
  packages/utils/src/color.ts
  packages/utils/src/color/color.ts
Labels: enhancement
