Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-10, with the labels that each got.

#486 test: fix cannot run test on `Node.js 17 and 18`
  karma.config.js
  package-lock.json
  package.json
Labels: bug

#485 fix(number-field): fix step=any to support integer and decimal number
  documents/src/pages/elements/number-field.md
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Labels: bug

#478 fix(dialog): the cancel event does not fire
  packages/elements/src/dialog/__test__/dialog.test.js
  packages/elements/src/dialog/index.ts
Labels: bug

#495 Run testing on BrowserStack manually by GitHub Action Workflow
  .github/actions/run-test/action.yml
  .github/workflows/test_browserstack.yml
  browsers.config.js
Labels: ci, enhancement

#493 ci: update actions checkout and cache to v3
  .github/actions/setup/action.yml
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
Labels: ci

#505 refactor(core): use `ResizeObserver` native API
  packages/core/src/elements/ResponsiveElement.ts
  packages/elements/src/canvas/__test__/canvas.test.js
  packages/elements/src/clock/__test__/clock.analogue.test.js
  packages/elements/src/clock/__test__/clock.test.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/led-gauge/__test__/led-gauge.test.js
  packages/elements/src/overlay/__test__/elements/overlay.test.js
  packages/elements/src/overlay/__test__/mocks/helper.js
  packages/elements/src/sparkline/__test__/sparkline.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.template.test.js
  packages/elements/src/tornado-chart/__test__/tornado-chart.test.js
  packages/elements/src/tornado-chart/elements/tornado-chart.ts
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.test.js
  packages/elements/src/tree-select/__test__/utils.js
Labels: performance, refactor

#487 feat(utils): add util color `readableColor`
  package-lock.json
  packages/elements/scripts/cmd/test.js
  packages/utils/README.md
  packages/utils/__test__/color/readable-color.test.js
  packages/utils/package.json
  packages/utils/src/color.ts
  packages/utils/src/color/readable-color.ts
Labels: enhancement
