Repository Refinitiv/refinitiv-ui, pull requests merged in 2022-09, with the labels that each got.

#445 fix(dialog): change withBackdrop and withShadow to proprerty
  packages/elements/src/dialog/index.ts
Labels: bug

#440 ci: enable BrowserStack for nightly test
  .github/workflows/test_nightly.yml
  karma.config.js
Labels: ci

#456 chore: bump lerna to v5.5.2 to fix security issue
  package-lock.json
  package.json
Labels: dependencies

#469 chore: run SonarCloud coverage on every PRs
  .github/workflows/test.yml
  sonar-project.properties
Labels: ci

#479 chore: fix to run test coverage as part of Test job
  .github/workflows/code_scan.yml
  .github/workflows/test.yml
Labels: ci
