Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-01, with the labels that each got.

#551 Update event description in all elements
  packages/elements/src/appstate-bar/index.ts
  packages/elements/src/autosuggest/index.ts
  packages/elements/src/button/index.ts
  packages/elements/src/calendar/index.ts
  packages/elements/src/canvas/index.ts
  packages/elements/src/card/index.ts
  packages/elements/src/checkbox/index.ts
  packages/elements/src/clock/index.ts
  packages/elements/src/collapse/index.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/color-picker/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/dialog/index.ts
  packages/elements/src/email-field/index.ts
  packages/elements/src/interactive-chart/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/notification/elements/notification.ts
  packages/elements/src/number-field/index.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/overlay/elements/overlay.ts
  packages/elements/src/pagination/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/pill/index.ts
  packages/elements/src/radio-button/index.ts
  packages/elements/src/rating/index.ts
  packages/elements/src/search-field/index.ts
  packages/elements/src/select/index.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/tab-bar/index.ts
  packages/elements/src/tab/index.ts
  packages/elements/src/text-field/index.ts
  packages/elements/src/time-picker/index.ts
  packages/elements/src/toggle/index.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/elements/tree.ts
Labels: documentation

#573 fix(elements): default overflow tooltip not working on some elements
  packages/elemental-theme/src/custom-elements/ef-button.less
  packages/elemental-theme/src/custom-elements/ef-pill.less
  packages/elemental-theme/src/custom-elements/ef-text-field.less
Labels: bug

#572 fix: remove unused imports
  packages/elements/src/pagination/index.ts
  packages/elements/src/tree-select/index.ts
Labels: good first issue
