Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-12, with the labels that each got.

#1042 fix: voiceover and safari does not annouce selected value
  documents/src/pages/elements/select.md
  packages/elements/src/select/__demo__/index.html
  packages/elements/src/select/__snapshots__/Selection.md
  packages/elements/src/select/__snapshots__/Template.md
  packages/elements/src/select/__snapshots__/Value.md
  packages/elements/src/select/__test__/select.accessibility.test.js
  packages/elements/src/select/index.ts
Labels: bug, documentation, v6

#1025 fix: voiceover and safari does not annouce selected value
  documents/src/pages/elements/select.md
  packages/elements/src/select/__demo__/index.html
  packages/elements/src/select/__test__/__snapshots__/select.selected.test.snap.js
  packages/elements/src/select/__test__/__snapshots__/select.template.test.snap.js
  packages/elements/src/select/__test__/__snapshots__/select.value.test.snap.js
  packages/elements/src/select/__test__/select.accessibility.test.js
  packages/elements/src/select/index.ts
Labels: bug, documentation, v7

#1043 docs(slider): add responsive marker example
  documents/src/pages/elements/slider.md
Labels: documentation

#1045 feat(slider): improve screen reader
  packages/elemental-theme/src/custom-elements/ef-slider-marker.less
  packages/elemental-theme/src/custom-elements/ef-slider.less
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/__snapshots__/slider.test.snap.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/elements/slider-marker.ts
  packages/elements/src/slider/elements/slider.ts
Labels: enhancement

#1047 fix(combo-box): cannot set value in free text when data is empty
  packages/elements/src/combo-box/__test__/combo-box.value.test.js
  packages/elements/src/combo-box/index.ts
Labels: bug, v6

#1050 fix(i18n): resolve import order issue on demo page
  package-lock.json
  packages/i18n/__demo__/index.html
  packages/i18n/package.json
Labels: bug, dependencies, v7

#1035 feat(datetime-picker): cascade custom cell slot to calendar
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__snapshots__/DOMStructure.md
  packages/elements/src/datetime-picker/__test__/datetime-picker.default.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: documentation, enhancement, v6

#1037 feat(datetime-picker): cascade custom cell slot to calendar
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.default.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: documentation, enhancement, v7

#1039 chore: combine semgrep & SonarCloud workflow into single definition file
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep_scan.yml
  .github/workflows/sonarcloud_scan.yml
Labels: ci, v7

#1041 chore: combine semgrep & SonarCloud workflow into single definition file
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep_scan.yml
  .github/workflows/sonarcloud_scan.yml
Labels: ci, v6

#1051 feat(slider): support custom label
  documents/src/pages/elements/slider.md
  packages/elemental-theme/src/custom-elements/ef-slider-marker.less
  packages/elemental-theme/src/custom-elements/ef-slider.less
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__snapshots__/Slider.md
  packages/elements/src/slider/__snapshots__/SliderMarker.md
  packages/elements/src/slider/__test__/slider-marker.test.js
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/elements/slider-marker.ts
  packages/elements/src/slider/elements/slider.ts
  packages/elements/src/slider/index.ts
  packages/halo-theme/src/custom-elements/ef-slider-marker.less
  packages/halo-theme/src/custom-elements/ef-slider.less
Labels: documentation, enhancement, v6

#1021 feat(slider): support custom label
  documents/src/pages/elements/slider.md
  packages/elemental-theme/src/custom-elements/ef-slider-marker.less
  packages/elemental-theme/src/custom-elements/ef-slider.less
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/__snapshots__/slider-marker.test.snap.js
  packages/elements/src/slider/__test__/__snapshots__/slider.test.snap.js
  packages/elements/src/slider/__test__/slider-marker.test.js
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/elements/slider-marker.ts
  packages/elements/src/slider/elements/slider.ts
  packages/elements/src/slider/index.ts
  packages/halo-theme/src/custom-elements/ef-slider-marker.less
  packages/halo-theme/src/custom-elements/ef-slider.less
Labels: documentation, enhancement, v7

#1052 Update required Node.js version
  .github/actions/checkout-install-and-build/action.yml
  .github/actions/setup/action.yml
  .github/workflows/blackduck_scan.yml
  .github/workflows/dev_release.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/semgrep_scan.yml
  .github/workflows/sonarcloud_scan.yml
  .github/workflows/test_browser_versions.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_nightly.yml
  documents/package.json
  documents/src/pages/build-app/compatibility.md
  documents/src/pages/start/quick-start.md
  package-lock.json
  package.json
  packages/create-efx/package.json
  packages/elements/package.json
  packages/theme-compiler/package.json
Labels: documentation, ci, dependencies, v7

#1053 V6 Update required Node.js version
  .github/actions/checkout-install-and-build/action.yml
  .github/actions/setup/action.yml
  .github/workflows/blackduck_scan.yml
  .github/workflows/dev_release.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/semgrep_scan.yml
  .github/workflows/sonarcloud_scan.yml
  .github/workflows/test_browserstack.yml
  documents/package.json
  documents/src/pages/start/quick-start.md
  package-lock.json
  package.json
  packages/create-efx/package.json
  packages/elements/package.json
  packages/theme-compiler/package.json
Labels: documentation, ci, dependencies, v6

#1055 Update Vite 5
  package-lock.json
  package.json
  packages/create-efx/template/package.json.template
  packages/demo-block/package.json
  packages/elements/scripts/cmd/start.js
  packages/i18n/package.json
  packages/translate/package.json
Labels: performance, dependencies, refactor, v7
