Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-09, with the labels that each got.

#921 fix(number-field): stepUp/stepDown not fire input event
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
  packages/elements/src/slider/index.ts
Labels: bug, v7

#925 fix(number-field): stepUp/stepDown not fire input event
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
  packages/elements/src/slider/index.ts
Labels: bug, documentation, v6

#928 feat(calendar): custom cell content
  documents/src/pages/elements/calendar.md
  packages/elemental-theme/src/custom-elements/ef-calendar.less
  packages/elements/src/calendar/__demo__/index.html
  packages/elements/src/calendar/__test__/__snapshots__/calendar.defaults.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.keyboard.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.multiple.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.navigation.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.range.test.snap.js
  packages/elements/src/calendar/__test__/__snapshots__/calendar.value.test.snap.js
  packages/elements/src/calendar/__test__/calendar.value.test.js
  packages/elements/src/calendar/index.ts
  packages/halo-theme/src/custom-elements/ef-calendar.less
  packages/solar-theme/src/custom-elements/ef-calendar.less
Labels: documentation, enhancement, v7

#930 feat(calendar): custom cell content
  documents/src/pages/elements/calendar.md
  packages/elemental-theme/src/custom-elements/ef-calendar.less
  packages/elements/src/calendar/__demo__/index.html
  packages/elements/src/calendar/__snapshots__/Defaults.md
  packages/elements/src/calendar/__snapshots__/KeyboardNavigation.md
  packages/elements/src/calendar/__snapshots__/Multiple.md
  packages/elements/src/calendar/__snapshots__/Navigation.md
  packages/elements/src/calendar/__snapshots__/Range.md
  packages/elements/src/calendar/__snapshots__/Value.md
  packages/elements/src/calendar/__test__/calendar.value.test.js
  packages/elements/src/calendar/index.ts
  packages/halo-theme/src/custom-elements/ef-calendar.less
  packages/solar-theme/src/custom-elements/ef-calendar.less
Labels: documentation, enhancement, v6

#910 feat(number-field): add new event up-click and down-click
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Labels: enhancement, v6

#906 feat(number-field): add new event up-click and down-click
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Labels: enhancement, v7

#932 chore: remove type of change in PR template
  .github/pull_request_template.md
Labels: v7

#933 chore: remove type of change from PR template
  .github/pull_request_template.md
Labels: documentation, v6

#935 chore: update eslint import extensions to ignore package imports
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Labels: bug, dependencies, v7

#936 chore: update eslint import extensions to ignore package imports
  package-lock.json
  packages/configurations/eslint-config.js
  packages/configurations/package.json
  packages/configurations/typescript.eslint-config.js
Labels: bug, documentation, dependencies, v6

#941 chore: update branding from Refinitiv to LSEG
  CONTRIBUTING.md
  LICENSE.md
  README.md
  documents/package.json
  documents/src/index.md
  documents/src/pages/accessibility.md
  documents/src/pages/elements/efx-grid.md
  documents/src/pages/elements/slider.md
  documents/src/pages/start/quick-start.md
  documents/src/pages/start/styling.md
  documents/src/pages/styles/typography.md
  packages/configurations/LICENSE
  packages/configurations/package.json
  packages/core/LICENSE
  packages/core/package.json
  packages/create-efx/LICENSE
  packages/create-efx/package.json
  packages/create-efx/template/LICENSE
  packages/create-efx/template/package.json.template
  packages/demo-block/LICENSE
  packages/demo-block/package.json
  packages/elemental-theme/LICENSE
  packages/elemental-theme/package.json
  packages/elements/LICENSE
  packages/elements/README.md
  packages/elements/package.json
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/LICENSE
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/i18n/LICENSE
  packages/i18n/package.json
  packages/phrasebook/LICENSE
  packages/phrasebook/package.json
  packages/polyfills/LICENSE
  packages/polyfills/package.json
  packages/solar-theme/LICENSE
  packages/solar-theme/README.md
  packages/solar-theme/package.json
  packages/test-helpers/LICENSE
  packages/test-helpers/package.json
  packages/theme-compiler/LICENSE
  packages/theme-compiler/package.json
  packages/translate/LICENSE
  packages/translate/package.json
  packages/utils/LICENSE
  packages/utils/package.json
Labels: documentation, dependencies, v6

#944 refactor(phrasebook): cleanup unnecessary links to element doc
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Labels: refactor, v6

#943 refactor(phrasebook): cleanup unnecessary links to element doc
  packages/phrasebook/src/locale/de/color-dialog.ts
  packages/phrasebook/src/locale/de/color-picker.ts
  packages/phrasebook/src/locale/de/pagination.ts
  packages/phrasebook/src/locale/de/tree-select.ts
  packages/phrasebook/src/locale/en/color-dialog.ts
  packages/phrasebook/src/locale/en/color-picker.ts
  packages/phrasebook/src/locale/en/pagination.ts
  packages/phrasebook/src/locale/en/tree-select.ts
  packages/phrasebook/src/locale/ja/color-dialog.ts
  packages/phrasebook/src/locale/ja/color-picker.ts
  packages/phrasebook/src/locale/ja/pagination.ts
  packages/phrasebook/src/locale/ja/tree-select.ts
  packages/phrasebook/src/locale/zh-hant/color-dialog.ts
  packages/phrasebook/src/locale/zh-hant/color-picker.ts
  packages/phrasebook/src/locale/zh-hant/pagination.ts
  packages/phrasebook/src/locale/zh-hant/tree-select.ts
  packages/phrasebook/src/locale/zh/color-dialog.ts
  packages/phrasebook/src/locale/zh/color-picker.ts
  packages/phrasebook/src/locale/zh/pagination.ts
  packages/phrasebook/src/locale/zh/tree-select.ts
Labels: refactor, v7

#945 fix: create efx doesn't upload tsconfig template to npm
  package-lock.json
  packages/create-efx/.npmignore
  packages/create-efx/bin/create-efx
  packages/create-efx/package.json
  packages/create-efx/src/index.ts
  packages/create-efx/src/utils/renamer.ts
  packages/create-efx/src/utils/replacer.ts
Labels: bug, dependencies, v7

#951 chore: remove unused resources
  documents/resources/images/Illustration29.png
  documents/resources/images/codepen-icon.svg
  documents/resources/images/core.changes.png
  documents/resources/images/halo-banner.png
  documents/resources/images/home.components.png
  documents/resources/images/home.performance.png
  documents/resources/images/home.theming.png
  documents/resources/images/moon-icon.svg
  documents/resources/images/refinitiv-bg.jpeg
  documents/resources/images/sun-icon.svg
  documents/resources/styles/api.css
  documents/resources/styles/demo.css
  documents/resources/styles/element.css
  documents/resources/styles/home.css
Labels: documentation, v7

#952 chore: remove unused resources
  documents/resources/images/Illustration29.png
  documents/resources/images/codepen-icon.svg
  documents/resources/images/core.changes.png
  documents/resources/images/halo-banner.png
  documents/resources/images/home.components.png
  documents/resources/images/home.performance.png
  documents/resources/images/home.theming.png
  documents/resources/images/moon-icon.svg
  documents/resources/images/refinitiv-bg.jpeg
  documents/resources/images/sun-icon.svg
Labels: documentation, v6

#938 fix(slider): incorrect updating `to` value
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Labels: bug, v7

#947 fix(slider): incorrect updating to value
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Labels: bug, documentation, v6

#922 v6 Tree & Tree Select sequential selection values
  documents/src/pages/utils/data-management.md
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
  packages/utils/src/collection/data-item.ts
Labels: documentation, enhancement, refactor, v6

#931 Tree & Tree Select sequential selection values
  documents/src/pages/utils/data-management.md
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
  packages/utils/src/collection/data-item.ts
Labels: documentation, enhancement, refactor, v7

#942 fix(slider): number field not revalidate when error state changes
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Labels: bug, v7

#953 fix(slider): number field not revalidate when error state changes
  packages/elements/src/slider/__test__/slider.number-field.test.js
  packages/elements/src/slider/index.ts
Labels: bug, documentation, v6

#937 Feature/enhance validation consistency for field elements
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/core/src/elements/FormFieldElement.ts
  packages/elements/src/datetime-field/index.ts
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/email-field/index.ts
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
  packages/elements/src/password-field/__demo__/index.html
  packages/elements/src/text-field/__demo__/index.html
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/text-field/__test__/text-field.validation.test.js
  packages/elements/src/text-field/index.ts
Labels: documentation, enhancement, v7

#949 fix: create efx doesnt upload tsconfig template to npm v6
  package-lock.json
  packages/create-efx/.npmignore
  packages/create-efx/bin/create-efx
  packages/create-efx/package.json
  packages/create-efx/src/index.ts
  packages/create-efx/src/utils/renamer.ts
  packages/create-efx/src/utils/replacer.ts
Labels: bug, documentation, dependencies, v6

#926 feat(calendar): introduce before-cell-render event
  documents/src/pages/elements/calendar.md
  package-lock.json
  packages/elements/src/calendar/__demo__/index.html
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/__test__/utils.js
  packages/elements/src/calendar/constants.ts
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
Labels: documentation, enhancement, v7

#950 feat(calendar): introduce before-cell-render event
  documents/src/pages/elements/calendar.md
  packages/elements/src/calendar/__demo__/index.html
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/__test__/utils.js
  packages/elements/src/calendar/constants.ts
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/calendar/utils.ts
Labels: documentation, enhancement, v6

#956 test(tree-select): fix test failed on Safari minus 1
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
Labels: v7

#963 docs: fix wrong table heading order on api section
  documents/resources/styles/table-api.css
Labels: documentation, v7

#957 test(tree-select): fix tree select test failed on safari v6
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
Labels: v6

#966 docs: fix wrong table heading order on api section
  documents/resources/styles/table-api.css
Labels: documentation, v6

#968 ci: be more specific on documents changed files
  .github/labeler.yml
  packages/elements/src/number-field/index.ts
Labels: bug, ci, v7

#969 ci: be more specific on documents changed files
  .github/labeler.yml
Labels: documentation, ci, v6

#958 docs(fields): add missing validation methods in jsdoc and improve fields documentation
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
  packages/elements/src/email-field/index.ts
  packages/elements/src/number-field/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/search-field/index.ts
  packages/elements/src/text-field/index.ts
Labels: documentation, v7

#964 fix(tree-select): show invalid values when click on cancel button on selected view
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/index.ts
Labels: bug, v7

#965 fix(tree-select): show invalid values when click on cancel button on …
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/index.ts
Labels: bug, documentation, v6

#954 fix(interactive-chart): invalid legend render when add new seriesList
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/index.ts
Labels: bug, v7

#959 fix(interactive-chart): legend not update when add new seriesList
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/index.ts
Labels: bug, v6

#972 docs: improve react tutorial
  documents/src/pages/build-app/framework-integration/react.md
Labels: documentation, v6

#955 docs: add more code same links in React Tutorial
  documents/src/pages/build-app/framework-integration/react.md
Labels: documentation, v7

#948 docs: improve docs of elements using DataItem interface
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/overlay-menu.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
Labels: documentation, v7

#960 docs: improve docs of elements using DataItem interface
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/overlay-menu.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
Labels: documentation, v6

#976 refactor(demo-block): fix innerHTML vulnerability
  packages/demo-block/src/demo-block.ts
Labels: bug, v6

#975 refactor(demo-block): fix innerHTML vulnerability
  package-lock.json
  packages/demo-block/src/demo-block.ts
Labels: bug, v7

#970 fix(tree): parent label can't expand/collapse in stateless mode
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
Labels: bug, v6

#967 fix(tree): parent label can't expand/collapse in stateless mode
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
Labels: bug, v7

#977 docs: update chartjs version documentation in ef-chart doc
  documents/src/pages/elements/chart.md
Labels: documentation, v7
