Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-07, with the labels that each got.

#800 docs: update link in document
  documents/src/pages/elements/autosuggest.md
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/multi-input.md
  documents/src/pages/elements/overlay-menu.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
Labels: documentation

#804 docs: make sure npx runs the latest version of create-efx
  documents/src/pages/tools/starter-templates.md
Labels: documentation, v7

#806 fix: downgrade chalk to version 4 to support require syntax
  package-lock.json
  packages/create-efx/package.json
  packages/create-efx/template/package.json.template
Labels: bug, dependencies

#807 docs: simply link to v6 doc workaround
  documents/src/index.md
Labels: documentation, v7

#808 refactor(configuration): update import type syntax to support old ts
  packages/elements/src/icon/index.ts
Labels: refactor

#809 fix(interactive-chart): export chart interface
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Labels: enhancement

#818 Upgrade Lit to 2.7.6 for security fix
  package-lock.json
Labels: dependencies, v7

#820 fix(chart): wrong type on onRenderLabel
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Labels: bug

#815 fix: flag border not set when setting through prop
  package-lock.json
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
Labels: bug, v6

#824 chore: temporarily disable SonarCloud scanning
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Labels: ci

#816 Refactor unit test more stable
  browsers.config.mjs
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/core/__test__/elf.test.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/errors/__snapshots__/DuplicateElementError.test.snap.js
  packages/core/__test__/errors/__snapshots__/DuplicateStyleError.test.snap.js
  packages/core/__test__/events/TapEvent.test.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/notices/__snapshots__/DeprecationNotice.test.snap.js
  packages/core/__test__/notices/__snapshots__/Notice.test.snap.js
  packages/core/__test__/notices/__snapshots__/WarningNotice.test.snap.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/demo-block/__test__/demo-block.test.js
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
  packages/elements/src/autosuggest/__test__/autosuggest.test.js
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/__test__/calendar.keyboard.test.js
  packages/elements/src/calendar/__test__/calendar.multiple.test.js
  packages/elements/src/calendar/__test__/calendar.navigation.test.js
  packages/elements/src/calendar/__test__/calendar.range.test.js
  packages/elements/src/card/__test__/card.test.js
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/clock/__test__/clock.interactive.test.js
  packages/elements/src/clock/__test__/clock.test.js
  packages/elements/src/color-dialog/__test__/color-dialog.test.js
  packages/elements/src/color-dialog/__test__/color-helpers.test.js
  packages/elements/src/color-dialog/__test__/color-palettes.test.js
  packages/elements/src/color-dialog/__test__/grayscale-palettes.test.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/multi-input/__test__/multi-input.test.js
  packages/elements/src/notification/__test__/notification.test.js
  packages/elements/src/overlay-menu/__test__/overlay-menu.interaction.test.js
  packages/elements/src/overlay/__test__/managers/zindex-manager.test.js
  packages/elements/src/pagination/__test__/pagination.test.js
  packages/elements/src/radio-button/__test__/radio-button.test.js
  packages/elements/src/rating/__test__/rating.test.js
  packages/elements/src/sparkline/__test__/sparkline.test.js
  packages/elements/src/swing-gauge/__test__/swing-gauge.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.accessibility.test.js
  packages/i18n/__test__/i18n.test.js
  packages/i18n/__test__/memoiser.test.js
  packages/phrasebook/__test__/phrasebook.test.js
  packages/test-helpers/__test__/test-helpers.test.js
  packages/utils/__test__/color/color.test.js
  packages/utils/__test__/color/readable-color.test.js
  web-test-runner.config.mjs
Labels: ci, v7

#829 Chore/lseg-rebrand-v7
  CODE_OF_CONDUCT.md
  LICENSE.md
  README.md
  packages/configurations/LICENSE
  packages/core/LICENSE
  packages/create-efx/LICENSE
  packages/create-efx/template/LICENSE
  packages/demo-block/LICENSE
  packages/elemental-theme/LICENSE
  packages/elements/LICENSE
  packages/elements/README.md
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/LICENSE
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/i18n/LICENSE
  packages/phrasebook/LICENSE
  packages/solar-theme/LICENSE
  packages/solar-theme/README.md
  packages/test-helpers/LICENSE
  packages/theme-compiler/LICENSE
  packages/translate/LICENSE
  packages/utils/LICENSE
Labels: documentation, v7

#831 Refactor unit test
  packages/elements/src/chart/__test__/chart.test.js
  packages/i18n/__test__/memoiser.test.js
Labels: ci, refactor, v7

#836 ci: v6 release workflow should have unique tag name
  .github/workflows/dev_release.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Labels: ci, v6

#837 Docs/recommened-npm-node-version-v6
  documents/src/index.md
  documents/src/pages/start/quick-start.md
Labels: documentation, v6

#834 fix(notification,toggle): make user-select overridable
  package-lock.json
  packages/elemental-theme/src/custom-elements/ef-notification.less
  packages/elemental-theme/src/custom-elements/ef-toggle.less
  packages/elements/src/notification/elements/notification.ts
Labels: enhancement, v6

#835 fix(notification,toggle): make user-select overridable
  packages/elemental-theme/src/custom-elements/ef-notification.less
  packages/elemental-theme/src/custom-elements/ef-toggle.less
  packages/elements/src/notification/elements/notification.ts
Labels: enhancement, v7

#845 docs: revert from LSEG to Refinitiv words
  CONTRIBUTING.md
  LICENSE.md
  README.md
  documents/package.json
  documents/src/index.md
  documents/src/pages/accessibility.md
  documents/src/pages/elements/efx-grid.md
  documents/src/pages/elements/slider.md
  documents/src/pages/start/quick-start.md
  documents/src/pages/start/styling.md
  documents/src/pages/styles/typography.md
  packages/configurations/LICENSE
  packages/configurations/package.json
  packages/core/LICENSE
  packages/core/package.json
  packages/create-efx/LICENSE
  packages/create-efx/package.json
  packages/create-efx/template/LICENSE
  packages/create-efx/template/package.json.template
  packages/demo-block/LICENSE
  packages/demo-block/package.json
  packages/elemental-theme/LICENSE
  packages/elemental-theme/package.json
  packages/elements/LICENSE
  packages/elements/README.md
  packages/elements/package.json
  packages/elements/src/dialog/__demo__/index.html
  packages/halo-theme/LICENSE
  packages/halo-theme/README.md
  packages/halo-theme/package.json
  packages/i18n/LICENSE
  packages/i18n/package.json
  packages/phrasebook/LICENSE
  packages/phrasebook/package.json
  packages/polyfills/LICENSE
  packages/polyfills/package.json
  packages/solar-theme/LICENSE
  packages/solar-theme/README.md
  packages/solar-theme/package.json
  packages/test-helpers/LICENSE
  packages/test-helpers/package.json
  packages/theme-compiler/LICENSE
  packages/theme-compiler/package.json
  packages/translate/LICENSE
  packages/translate/package.json
  packages/utils/LICENSE
  packages/utils/package.json
Labels: documentation, v6

#825 ci: remove `--ignore-scripts` from `npm ci`
  .github/actions/checkout-install-and-build/action.yml
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_nightly.yml
Labels: ci, v7

#842 fix(datetime-picker): prevent view change when either from/to has been selected
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/datetime-picker/__test__/utils.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v6

#833 Refactor Unit Test to improve stabilities
  .github/actions/run-test/action.yml
  packages/elements/src/color-dialog/__test__/color-dialog.test.js
  packages/elements/src/color-dialog/__test__/color-palettes.test.js
  packages/elements/src/color-dialog/__test__/grayscale-palettes.test.js
  packages/elements/src/color-picker/__test__/color-picker.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/number-field/__test__/number-field.step.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/overlay-menu/__test__/overlay-menu.snapshot.test.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/overlay/__test__/managers/viewport-manager.test.js
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/swing-gauge/__test__/swing-gauge.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.accessibility.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.template.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.value.test.js
  packages/elements/src/tab/__test__/tab.test.js
  packages/elements/src/time-picker/__test__/time-picker.test.js
  packages/elements/src/tornado-chart/__test__/tornado-chart-item.test.js
  packages/i18n/__test__/lang-attribute-observer.test.js
  scripts/tests/run.mjs
Labels: bug, ci

#841 fix(datetime-picker): prevent view change when either from/to has been selected
  packages/elements/src/datetime-picker/__test__/datetime-picker.view.test.js
  packages/elements/src/datetime-picker/__test__/utils.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v7

#848 fix(datetime-picker): allow user to clear invalid value in input
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v6

#847 fix(datetime-picker): allow user to clear invalid value in input
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v7

#832 fix(chart): font doesn't update after font loaded
  packages/elements/src/chart/elements/chart.ts
Labels: bug, v7

#850 chore: scope action/cache within a workflow only
  .github/actions/checkout-install-and-build/action.yml
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
Labels: ci, v6

#856 docs(interactive-chart): update outdated documentation
  documents/src/pages/elements/interactive-chart.md
Labels: documentation

#855 docs/update lightweight chart link in interactive chart
  documents/src/pages/elements/interactive-chart.md
Labels: documentation

#851 ci: auto retry unit test step if failed
  .github/actions/run-test/action.yml
  .github/workflows/test_all_browsers.yml
  .github/workflows/test_browser_versions.yml
  .github/workflows/test_nightly.yml
Labels: ci, enhancement, v7

#858 feat(tooltip): add data-tooltip alias for tooltip attribute
  packages/elements/src/tooltip/helpers/renderer.ts
Labels: enhancement, v6

#859 feat(tooltip): add data-tooltip alias for tooltip attribute
  packages/elements/src/tooltip/helpers/renderer.ts
Labels: enhancement, v7

#857 docs: add upgrade guide
  documents/src/navigation.md
  documents/src/pages/start/upgrade-guide.md
Labels: documentation, v7

#854 🧪 Refactor unit testing import module incorrectly and remove unused code
  packages/core/__test__/elf.test.js
  packages/demo-block/__test__/demo-block.test.js
  packages/elements/src/chart/__test__/mock-config.js
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/overlay/__test__/elements/overlay-backdrop.test.js
  packages/elements/src/overlay/__test__/managers/backdrop-manager.test.js
  packages/elements/src/overlay/__test__/managers/close-manager.test.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/overlay/__test__/managers/viewport-manager.test.js
  packages/elements/src/radio-button/__test__/radio-button.test.js
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/test-helpers/__test__/test-helpers.test.js
  packages/translate/__test__/elf-translate-document.test.js
  packages/translate/__test__/elf-translate-element.test.js
  packages/translate/__test__/elf-translate-inherited.test.js
  packages/translate/__test__/elf-translate-promise.test.js
  packages/translate/__test__/elf-translate.navigator.test.js
  packages/translate/__test__/phrasebook.test.js
Labels: refactor, unit-testing

#861 docs(tooltip): add mention to data-tooltip alias
  documents/src/pages/elements/tooltip.md
Labels: documentation, v7

#862 docs(tooltip): add mention to data-tooltip alias
  documents/src/pages/elements/tooltip.md
Labels: documentation, v6

#860 docs: add notices on chart and interactive chart page
  documents/src/pages/elements/chart.md
  documents/src/pages/elements/interactive-chart.md
Labels: documentation, v6

#868 fix(number-field): add aria-valuetext to prevent VO announce percentage
  packages/elements/src/number-field/__snapshots__/NumberField.md
  packages/elements/src/number-field/index.ts
Labels: bug, accessibility, v6

#865 fix(number-field): add aria-valuetext to prevent VO announce percentage
  packages/elements/src/number-field/__test__/__snapshots__/number-field.test.snap.js
  packages/elements/src/number-field/index.ts
Labels: bug, accessibility, v7

#864 fix(interactive-chart): change chart property access modifier from private to public
  packages/elements/src/interactive-chart/index.ts
Labels: enhancement, v7

#870 fix(heatmap): `HeatmapCell` properties other than `value` should be optional
  packages/elements/src/heatmap/__demo__/color.html
  packages/elements/src/heatmap/__demo__/custom-cell.html
  packages/elements/src/heatmap/__demo__/event.html
  packages/elements/src/heatmap/__demo__/index.html
  packages/elements/src/heatmap/helpers/types.ts
  packages/elements/src/heatmap/index.ts
Labels: bug, v6

#866 fix(heatmap): `HeatmapCell` properties other than `value` should be optional
  packages/elements/src/heatmap/__demo__/color.html
  packages/elements/src/heatmap/__demo__/custom-cell.html
  packages/elements/src/heatmap/__demo__/event.html
  packages/elements/src/heatmap/__demo__/index.html
  packages/elements/src/heatmap/helpers/types.ts
  packages/elements/src/heatmap/index.ts
Labels: bug, v7

#863 ci: sync workflow name with v7
  .github/workflows/blackduck_scan.yml
  .github/workflows/dev_release.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/size_report.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_nightly_v7.yml
Labels: ci, v6
