Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-08, with the labels that each got.

#872 fix(notification): `info`, `confirm`, `warn`, `error` duration should be optional
  packages/elements/src/notification/helpers/status.ts
  packages/elements/src/notification/helpers/types.ts
Labels: bug, v6

#873 fix(notification): `info`, `confirm`, `warn`, `error` duration should be optional
  packages/elements/src/notification/helpers/status.ts
  packages/elements/src/notification/helpers/types.ts
Labels: bug, v7

#874 fix(interactive-chart): wrong legend color on candlestick chart
  packages/elements/src/interactive-chart/index.ts
Labels: bug, v7

#875 fix(interactive-chart): replace priceScale config with left and right priceScale due to api changed
  packages/elements/src/interactive-chart/__demo__/index.html
  packages/elements/src/interactive-chart/index.ts
Labels: bug, v7

#877 chore: fix prettier format command
  package.json
Labels: v6

#878 chore: fix wrong format command v7
  package.json
Labels: v7

#879 chore: add semgrep scanning to PR & manual workflow
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep.yml
  .semgrepconfig
Labels: ci, v6

#871 chore: add semgrep scanning to PR & manual workflow
  .github/workflows/pr_check.yml
  .github/workflows/run_semgrep_scan.yml
  .github/workflows/semgrep.yml
  .semgrepconfig
Labels: ci, v7

#881 chore: add .semgrepignore to fix its default ignore issue
  .semgrepignore
Labels: ci, v6

#880 chore: add .semgrepignore to fix its default ignore issue
  .semgrepignore
Labels: ci, v7

#886 ci: use official Github token in CI
  .github/workflows/labeler.yml
Labels: ci, v7

#885 docs: fix missing elements in CHANGELOG
  packages/elements/CHANGELOG.md
Labels: documentation, v6

#892 docs: update cdn domain name
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
  documents/src/pages/elements/tree.md
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
Labels: documentation, v6

#891 fix(icon): change sprite cdn domain
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
  documents/src/pages/elements/tree.md
  packages/elemental-theme/src/custom-elements/ef-icon.less
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/icon/__demo__/index.html
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
  packages/halo-theme/src/custom-elements/ef-icon.less
  packages/solar-theme/src/custom-elements/ef-icon.less
Labels: bug, documentation, v7

#887 refactor(interactive-chart): revise internal chart type and type export
  packages/elements/src/interactive-chart/helpers/types.ts
  packages/elements/src/interactive-chart/index.ts
Labels: bug, refactor, v7

#894 fix: force blackduck to use node_modules lerna
  .github/workflows/blackduck_scan.yml
Labels: bug, ci, v6

#893 fix: force blackduck to use node_modules lerna
  .github/workflows/blackduck_scan.yml
Labels: bug, ci, v7

#899 ci: make labeler action condition to be more specific on test files
  .github/labeler.yml
Labels: ci, v6

#895 fix(combo-box): remove redundant input border when disabled
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Labels: bug, v7

#890 fix(combo-box): missing divider between list items in list
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Labels: bug, v7

#896 fix(combo-box): remove redundant input border when disabled
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Labels: bug, documentation, v6

#900 ci: make labeler action condition to be more specific on test files
  .github/labeler.yml
Labels: ci, v7

#889 fix(combo-box): missing divider between list items in list
  packages/halo-theme/src/custom-elements/ef-combo-box.less
Labels: bug, documentation, v6

#897 fix: add packages list to lerna config for blackduck scanning
  .github/workflows/blackduck_scan.yml
  lerna.json
  packages/core/.npmignore
  packages/create-efx/.npmignore
  packages/demo-block/.npmignore
  packages/elemental-theme/.npmignore
  packages/elements/.npmignore
  packages/halo-theme/.npmignore
  packages/i18n/.npmignore
  packages/phrasebook/.npmignore
  packages/solar-theme/.npmignore
  packages/test-helpers/.npmignore
  packages/theme-compiler/.npmignore
  packages/translate/.npmignore
  packages/utils/.npmignore
Labels: bug, ci, v7

#904 fix: add packages list to lerna config for blackduck scanning
  .github/workflows/blackduck_scan.yml
  lerna.json
  packages/core/.npmignore
  packages/create-efx/.npmignore
  packages/demo-block/.npmignore
  packages/elemental-theme/.npmignore
  packages/elements/.npmignore
  packages/halo-theme/.npmignore
  packages/i18n/.npmignore
  packages/phrasebook/.npmignore
  packages/solar-theme/.npmignore
  packages/test-helpers/.npmignore
  packages/theme-compiler/.npmignore
  packages/translate/.npmignore
  packages/utils/.npmignore
Labels: bug, documentation, ci, v6

#722 Snippets VS Code Extension
  .github/workflows/prod_release.yml
  .gitignore
  .vscode/launch.json
  lerna.json
  package-lock.json
  package.json
  vscode-extensions/snippets/.vscodeignore
  vscode-extensions/snippets/CHANGELOG.md
  vscode-extensions/snippets/CONTRIBUTING.md
  vscode-extensions/snippets/LICENSE
  vscode-extensions/snippets/README.md
  vscode-extensions/snippets/images/logo.png
  vscode-extensions/snippets/images/preview.gif
  vscode-extensions/snippets/package.json
  vscode-extensions/snippets/snippets/snippets.code-snippets
Labels: documentation, ci, enhancement, dependencies, v7

#898 test: revise unit test snapshots
  packages/core/__snapshots__/TestControlElement.md
  packages/core/__snapshots__/TestCustomElement.md
  packages/core/__snapshots__/TestCustomStyleRegistry.md
  packages/core/__snapshots__/TestDeprecationNotice.md
  packages/core/__snapshots__/TestDuplicateElementError.md
  packages/core/__snapshots__/TestDuplicateStyleError.md
  packages/core/__snapshots__/TestElementRegistry.md
  packages/core/__snapshots__/TestNativeStyleRegistry.md
  packages/core/__snapshots__/TestNotice.md
  packages/core/__snapshots__/TestWarningNotice.md
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/tree/__test__/tree.test.js
Labels: v6, unit-testing

#901 test: revise unit test snapshots
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/decorators/__snapshots__/CustomElement.test.snap.js
  packages/core/__test__/errors/DuplicateElementError.test.js
  packages/core/__test__/errors/DuplicateStyleError.test.js
  packages/core/__test__/errors/__snapshots__/DuplicateElementError.test.snap.js
  packages/core/__test__/errors/__snapshots__/DuplicateStyleError.test.snap.js
  packages/core/__test__/notices/DeprecationNotice.test.js
  packages/core/__test__/notices/Notice.test.js
  packages/core/__test__/notices/WarningNotice.test.js
  packages/core/__test__/notices/__snapshots__/DeprecationNotice.test.snap.js
  packages/core/__test__/notices/__snapshots__/Notice.test.snap.js
  packages/core/__test__/notices/__snapshots__/WarningNotice.test.snap.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/core/__test__/registries/__snapshots__/CustomStyleRegistry.test.snap.js
  packages/core/__test__/registries/__snapshots__/ElementRegistry.test.snap.js
  packages/core/__test__/registries/__snapshots__/NativeStyleRegistry.test.snap.js
  packages/elements/src/list/__test__/list.test.js
  packages/elements/src/tree/__test__/tree.test.js
Labels: v7, unit-testing

#888 feat(slider): add input event
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Labels: enhancement, v7

#911 feat(slider): add input event
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/index.ts
Labels: documentation, enhancement, v6

#909 chore: update browser-sparkline to v2 and turn it to peer dependency
  package-lock.json
  packages/elements/package.json
Labels: documentation, dependencies, v6

#908 chore: update browser-sparkline to v2 and turn it to peer dependency
  package-lock.json
  packages/elements/package.json
Labels: dependencies, v7

#907 Feature/add max property to tree select
  documents/src/pages/elements/tree-select.md
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Labels: documentation, enhancement, v7

#915 feat(tree-select): add max property
  documents/src/pages/elements/tree-select.md
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/index.ts
Labels: documentation, enhancement, v6

#914 fix(slider): display and initial to value incorrectly
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Labels: bug, documentation, v6

#913 fix(slider): display and initial to value incorrectly
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Labels: bug, v7

#920 fix(slider): page freeze when from/to overflow max value
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/index.ts
Labels: bug, documentation, v6

#918 fix(create-efx): correct type created by jsx generator
  packages/create-efx/template/package.json.template
  packages/create-efx/template/scripts/jsx/jsxdts-generator.js
  packages/create-efx/template/scripts/jsx/utils.js
  packages/create-efx/template/src/efx-element.ts
Labels: bug, documentation, v6

#917 fix(create-efx): correct type created by jsx generator
  packages/create-efx/template/scripts/jsx/jsxdts-generator.js
  packages/create-efx/template/scripts/jsx/utils.js
  packages/create-efx/template/src/efx-element.ts
Labels: bug, v7

#919 Tree Select sequential selection values
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
Labels: refactor, v7

#923 Revert "refactor(tree-select): values order by sequential selection (#919)"
  packages/elements/src/tree-select/__test__/tree-select.value.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
Labels: v7

#924 CI fix nx publish all package by package-lock.json changed
  .github/workflows/prod_release.yml
Labels: ci, v7
