Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-03, with the labels that each got.

#593 docs: add create custom theme tutorial
  documents/src/navigation.md
  documents/src/pages/build-app/custom-theme.md
Labels: documentation

#606 refactor(dialog, autosuggest): remove IE11 specific code
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
  packages/elements/src/autosuggest/index.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/dialog/__demo__/index.html
  packages/elements/src/dialog/index.ts
Labels: refactor

#591 fix: remove invalid params in theme parser
  packages/theme-compiler/src/themeParser.js
Labels: bug

#618 feat(theme-compiler): support Browserslist config
  .browserslistrc
  package-lock.json
  packages/theme-compiler/README.md
  packages/theme-compiler/package.json
  packages/theme-compiler/src/helpers.js
Labels: bug, enhancement

#620 feat(theme-compiler): support Browserslist config
  .browserslistrc
  package-lock.json
  packages/theme-compiler/README.md
  packages/theme-compiler/package.json
  packages/theme-compiler/src/helpers.js
Labels: enhancement

#624 test: prevent BrowserStack nightly test failed on Chrome 109
  browsers.config.js
Labels: ci

#625 Fix unit test browserstack
  browsers.config.js
  packages/elements/src/datetime-field/__test__/datetime-field.format.test.js
  packages/test-helpers/src/test-helpers.ts
  packages/translate/__test__/elf-translate-element.test.js
Labels: ci

#601 fix(tooltip): fix missing tooltip in consecutive buttons
  packages/core/src/elements/ResponsiveElement.ts
  packages/elements/src/canvas/__test__/canvas.test.js
  packages/elements/src/clock/__test__/clock.analogue.test.js
  packages/elements/src/clock/__test__/clock.test.js
  packages/elements/src/datetime-field/__test__/utils.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/led-gauge/__test__/led-gauge.test.js
  packages/elements/src/select/__test__/select.events.test.js
  packages/elements/src/sparkline/__test__/sparkline.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.template.test.js
  packages/elements/src/tooltip/__demo__/index.html
  packages/elements/src/tornado-chart/__test__/tornado-chart-item.test.js
  packages/elements/src/tornado-chart/__test__/tornado-chart.test.js
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/test-helpers/__test__/test-helpers.test.js
  packages/test-helpers/src/test-helpers.ts
  packages/translate/__test__/elf-translate-element.test.js
  packages/translate/__test__/elf-translate.navigator.test.js
Labels: bug

#638 Remove-is-ie
  packages/core/src/events/TapEvent.ts
  packages/elements/src/button/__test__/button.test.js
  packages/elements/src/heatmap/__demo__/event.html
  packages/elements/src/tooltip/managers/tooltip-manager.ts
  packages/utils/src/browser.ts
Labels: performance

#642 test: increase mocha test timeout to 5 sec
  karma.config.js
Labels: ci
