Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-11, with the labels that each got.

#999 Fix semgrep findings
  .github/actions/run-test/action.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/pre_release.yml
  .github/workflows/semgrep.yml
  .semgrepconfig.yml
  package-lock.json
  packages/elements/package.json
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/tree/helpers/filter.ts
Labels: bug, ci, dependencies, v7

#996 Feat/fields no constraint no validation
  documents/scripts/element.injector.js
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
  packages/core/src/directives/template-map.ts
  packages/core/src/elements/FormFieldElement.ts
  packages/create-efx/template/README.md
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/email-field/__test__/email-field.test.js
  packages/elements/src/email-field/index.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/__test__/number-field.validity.test.js
  packages/elements/src/number-field/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/search-field/index.ts
  packages/elements/src/text-field/__test__/text-field.validation.test.js
  packages/elements/src/text-field/index.ts
Labels: documentation, enhancement, v7

#1009 chore: add log level input to blackduck scan
  .github/workflows/blackduck_scan.yml
Labels: ci, v6

#1007 chore: add log level input to blackduck scan
  .github/workflows/blackduck_scan.yml
  package-lock.json
  package.json
Labels: ci, v7

#1011 fix(time-picker): remove pre-populate value
  packages/elements/src/time-picker/__test__/time-picker.test.js
  packages/elements/src/time-picker/index.ts
Labels: bug, v6

#995 fix(time-picker): remove pre-populate value
  packages/elements/src/time-picker/__test__/time-picker.test.js
  packages/elements/src/time-picker/index.ts
Labels: bug, v7

#1017 chore: enable SonarCloud scanning
  .github/actions/setup/action.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Labels: ci, v6

#1016 chore: enable SonarCloud scanning
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Labels: ci, v7

#1014 Fix NX command publish VSCode extension.
  .github/workflows/prod_release.yml
Labels: bug, ci, v7

#1019 chore: clean up nx cli options in workflow scripts
  package.json
Labels: v7

#1018 chore: clean up nx cli options in workflow scripts
  package.json
Labels: v6

#1020 fix: resolve SonarCloud findings
  package-lock.json
  packages/elements/src/chart/elements/chart.ts
  packages/elements/src/interactive-chart/index.ts
  packages/theme-compiler/package.json
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Labels: dependencies, v7

#1023 fix: resolve SonarCloud findings
  package-lock.json
  packages/elements/src/chart/index.ts
  packages/elements/src/interactive-chart/index.ts
  packages/theme-compiler/package.json
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Labels: dependencies, v6

#1026 v6 Update semgrep scanning main branch check and blocking findings
  .github/workflows/main_branch_check.yml
  .github/workflows/semgrep.yml
Labels: ci, v6

#1024 Update semgrep scanning main branch check and blocking findings
  .github/workflows/main_branch_check.yml
  .github/workflows/semgrep.yml
  package-lock.json
Labels: ci, v7

#1027 Update with new badges from SonarCloud
  README.md
Labels: documentation, v7

#1015 fix(theme-compiler): fix unresolve path on theme-compiler on Windows
  packages/theme-compiler/src/helpers.js
Labels: bug, ci, v7

#1022 feat(slider): set active track color support
  documents/src/pages/elements/slider.md
  packages/elemental-theme/src/custom-elements/ef-slider.less
  packages/elements/src/slider/__demo__/index.html
  packages/halo-theme/src/custom-elements/ef-slider.less
Labels: documentation, enhancement

#1030 docs(interactive-chart): correct typo initialize event name
  documents/src/pages/elements/interactive-chart.md
Labels: documentation, v7

#1031 docs(interactive-chart): correct typo initialize event name
  documents/src/pages/elements/interactive-chart.md
Labels: documentation, v6

#1029 chore: add blackduck scan to pr check & main branch check workflow
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Labels: ci, v7

#1033 chore: simplify input of blackduck scan workflow
  .github/workflows/blackduck_scan.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
Labels: ci, v7

#1034 chore: refactor blackduck scan workflow
  .github/workflows/blackduck_scan.yml
Labels: ci, v6

#1008 feat(datetime-picker): cascade custom cell slot to calendar
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: documentation, enhancement, v7

#1036 Revert "feat(datetime-picker): cascade custom cell slot to calendar"
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/calendar/index.ts
  packages/elements/src/calendar/types.ts
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: documentation, v7

#1028 feat(slider): add label align property
  documents/src/pages/elements/slider.md
  packages/elemental-theme/src/custom-elements/ef-slider-marker.less
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/__snapshots__/slider.test.snap.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/elements/slider-marker.ts
  packages/elements/src/slider/elements/slider.ts
Labels: documentation, enhancement

#1012 chore: up-to-date playwright with dependabot
  .github/actions/run-test/action.yml
  .github/dependabot.yml
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  package.json
Labels: ci, v7

#1040 feature(slider): tap on label should select value
  packages/elemental-theme/src/custom-elements/ef-slider-marker.less
  packages/elements/src/slider/__demo__/index.html
  packages/elements/src/slider/__test__/__snapshots__/slider.test.snap.js
  packages/elements/src/slider/__test__/slider.test.js
  packages/elements/src/slider/elements/slider.ts
Labels: enhancement
