Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-04, with the labels that each got.

#648 test(chart): fix test to compatible with chartjs v4
  packages/elements/src/chart/__test__/__snapshots__/chart.test.snap.js
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/chart/__test__/mock-config.js
  packages/elements/src/chart/index.ts
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Labels: dependencies

#602 refactor(combo-box): avoid using `hidden` attribute to hide clear icon
  packages/elements/src/combo-box/index.ts
Labels: refactor

#661 Refactor/i18n-migrate-to-fast-memoize
  package-lock.json
  packages/i18n/__demo__/index.html
  packages/i18n/package.json
  packages/i18n/src/memoiser.ts
Labels: dependencies

#644 v7 Use BrowserStack for all GitHub Action workflows
  .github/actions/checkout-install-and-build/action.yml
  .github/actions/run-test/action.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
  browsers.config.mjs
  package-lock.json
  package.json
  packages/elements/scripts/cmd/test.mjs
  packages/elements/src/autosuggest/__test__/autosuggest-functional.test.js
  packages/elements/src/autosuggest/__test__/autosuggest.test.js
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/overlay/__test__/managers/viewport-manager.test.js
  packages/elements/src/overlay/__test__/mocks/helper.js
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/elements/src/overlay/__test__/overlay.position.test.js
  packages/elements/src/tornado-chart/__test__/__snapshots__/tornado-chart-item.test.snap.js
  packages/elements/web-test-runner.config.mjs
  scripts/tests/run.mjs
  scripts/tests/runner.mjs
  web-test-runner.config.mjs
Labels: ci

#670 docs: notify user to reload page after switch theme
  documents/src/pages/build-app/theme-switching.md
Labels: documentation
