Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-10, with the labels that each got.

#971 fix(list, tree): stateless list and tree should have `aria-readonly`="true"
  packages/elements/src/list/elements/list.ts
Labels: accessibility, v7

#980 fix(list, tree): stateless list and tree should have aria-readonly
  packages/elements/src/list/elements/list.ts
Labels: accessibility, v6

#979 docs: update field docs
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
Labels: documentation, v7

#946 fix: `tap` event should not be triggerred on right click
  packages/core/__test__/events/TapEvent.test.js
  packages/core/src/events/TapEvent.ts
Labels: bug, v7

#981 fix: tap event should not be triggered on mouse right-click
  packages/core/__test__/events/TapEvent.test.js
  packages/core/src/events/TapEvent.ts
Labels: bug, v6

#985 test: fix interactive chart mock test data
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/__test__/mock-config.js
Labels: bug

#986 Refactor/browserstack browsers
  .github/workflows/test_all_browsers.yml
  browsers.config.mjs
  package-lock.json
  package.json
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/__test__/mock-config.js
Labels: ci, refactor, v7, unit-testing

#982 fix(overlay-menu): missing nested items property
  documents/src/pages/utils/data-management.md
  packages/elements/src/item/helpers/types.ts
  packages/elements/src/tree/helpers/types.ts
  packages/utils/src/collection/collection-item.ts
  packages/utils/src/collection/data-item.ts
Labels: bug, documentation, v7

#984 fix(overlay-menu): missing nested items property
  documents/src/pages/utils/data-management.md
  packages/elements/src/item/helpers/types.ts
  packages/elements/src/tree/helpers/types.ts
  packages/utils/src/collection/collection-item.ts
  packages/utils/src/collection/data-item.ts
Labels: bug, documentation, v6

#989 fix: `ITimeScaleApi` type errors in `lightweight-charts` to 4.1.0
  package-lock.json
  packages/elements/package.json
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/index.ts
Labels: bug, dependencies, v7

#990 fix(password-field, phrasebook): improve show password announcement
  packages/elements/src/password-field/__snapshots__/PasswordField.md
  packages/elements/src/password-field/__test__/password-field.test.js
  packages/elements/src/password-field/index.ts
  packages/phrasebook/src/locale/de/password-field.ts
  packages/phrasebook/src/locale/en/password-field.ts
  packages/phrasebook/src/locale/ja/password-field.ts
  packages/phrasebook/src/locale/zh-hant/password-field.ts
  packages/phrasebook/src/locale/zh/password-field.ts
  packages/utils/src/accessibility.ts
  packages/utils/src/accessibility/helpers.ts
Labels: bug, v6

#962 fix(password-field, phrasebook): improve show password announcement
  package-lock.json
  packages/elements/scripts/cmd/start.mjs
  packages/elements/src/password-field/__test__/__snapshots__/password-field.test.snap.js
  packages/elements/src/password-field/__test__/password-field.test.js
  packages/elements/src/password-field/index.ts
  packages/phrasebook/src/locale/de/password-field.ts
  packages/phrasebook/src/locale/en/password-field.ts
  packages/phrasebook/src/locale/ja/password-field.ts
  packages/phrasebook/src/locale/zh-hant/password-field.ts
  packages/phrasebook/src/locale/zh/password-field.ts
  packages/utils/src/accessibility.ts
  packages/utils/src/accessibility/helpers.ts
Labels: bug, dependencies, v7

#1001 docs: change React guides to recommend @lit/react
  documents/src/pages/build-app/framework-integration/react.md
Labels: documentation, v6

#1000 docs: change React guides to recommend @lit/react
  documents/src/pages/build-app/framework-integration/react.md
Labels: documentation, v7

#994 chore: update dependencies resolving blackduck issue
  .github/workflows/blackduck_scan.yml
  lerna.json
  nx.json
  package-lock.json
  package.json
Labels: bug, ci, v7

#993 chore: update dependencies resolving blackduck issue
  .github/workflows/blackduck_scan.yml
  lerna.json
  nx.json
  package-lock.json
  package.json
  packages/theme-compiler/package.json
Labels: bug, ci, dependencies, v6

#992 feat(number-field): support long press at spinner
  packages/elements/src/number-field/__test__/number-field.step.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Labels: documentation, ci, enhancement, dependencies, v6

#983 feat(number-field): support long press at spinner
  packages/elements/src/number-field/__test__/number-field.step.test.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
Labels: enhancement, v7

#991 docs: revise default values and descriptions
  packages/elements/src/accordion/index.ts
  packages/elements/src/appstate-bar/index.ts
  packages/elements/src/autosuggest/index.ts
  packages/elements/src/button/index.ts
  packages/elements/src/chart/elements/chart.ts
  packages/elements/src/checkbox/index.ts
  packages/elements/src/clock/index.ts
  packages/elements/src/collapse/index.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/counter/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/header/index.ts
  packages/elements/src/heatmap/index.ts
  packages/elements/src/interactive-chart/index.ts
  packages/elements/src/item/index.ts
  packages/elements/src/label/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/overlay/elements/overlay.ts
  packages/elements/src/pagination/index.ts
  packages/elements/src/pill/index.ts
  packages/elements/src/select/index.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/swing-gauge/index.ts
  packages/elements/src/time-picker/index.ts
  packages/elements/src/toggle/index.ts
Labels: documentation, v7

#997 docs/add missing jsdoc for all elements v6
  packages/elements/src/accordion/index.ts
  packages/elements/src/appstate-bar/index.ts
  packages/elements/src/autosuggest/index.ts
  packages/elements/src/button/index.ts
  packages/elements/src/chart/index.ts
  packages/elements/src/checkbox/index.ts
  packages/elements/src/clock/index.ts
  packages/elements/src/collapse/index.ts
  packages/elements/src/color-dialog/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/configuration/elements/configuration.ts
  packages/elements/src/counter/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/header/index.ts
  packages/elements/src/heatmap/index.ts
  packages/elements/src/interactive-chart/index.ts
  packages/elements/src/item/index.ts
  packages/elements/src/label/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/overlay/elements/overlay.ts
  packages/elements/src/pagination/index.ts
  packages/elements/src/pill/index.ts
  packages/elements/src/select/index.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/swing-gauge/index.ts
  packages/elements/src/time-picker/index.ts
  packages/elements/src/toggle/index.ts
Labels: documentation, v6

#974 feat: adding `type=module` to `package.json`
  browsers.config.js
  cli.js
  documents/esbuild.js
  documents/package.json
  documents/scripts/element.injector.js
  documents/scripts/paths.js
  package-lock.json
  package.json
  packages/configurations/package.json
  packages/configurations/tsconfig.json
  packages/core/package.json
  packages/core/scripts/release/index.js
  packages/create-efx/package.json
  packages/create-efx/src/index.ts
  packages/create-efx/tsconfig.json
  packages/demo-block/__demo__/index.html
  packages/demo-block/package.json
  packages/demo-block/scripts/release/index.js
  packages/elemental-theme/package.json
  packages/elements/cli.js
  packages/elements/package.json
  packages/elements/scripts/cmd/build.js
  packages/elements/scripts/cmd/index.js
  packages/elements/scripts/cmd/index.mjs
  packages/elements/scripts/cmd/lint.js
  packages/elements/scripts/cmd/start.js
  packages/elements/scripts/cmd/test.js
  packages/elements/scripts/helpers/index.js
  packages/elements/scripts/release/index.js
  packages/halo-theme/package.json
  packages/i18n/package.json
  packages/phrasebook/package.json
  packages/solar-theme/package.json
  packages/test-helpers/package.json
  packages/theme-compiler/bin/theme-compiler.js
  packages/theme-compiler/package.json
  packages/theme-compiler/src/cli-options.js
  packages/theme-compiler/src/fileManager.js
  packages/theme-compiler/src/helpers.js
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
  packages/theme-compiler/src/less-plugin-inline-svg/index.js
  packages/theme-compiler/src/less-plugin-inline-svg/parse-options.js
  packages/theme-compiler/src/themeParser.js
  packages/translate/package.json
  packages/utils/package.json
  scripts/helpers/esm.mjs
  scripts/helpers/index.js
  scripts/release/api-analyzer.cjs
  scripts/release/jsxdts-generator.js
  scripts/release/theme-extractor.js
  scripts/release/util.js
  scripts/release/versioning.js
  scripts/tests/cli-options.js
  scripts/tests/run.js
  scripts/tests/runner.js
  scripts/version/index.js
  web-test-runner.config.js
Labels: enhancement, dependencies, v7

#1004 docs: add `zoom` property future TODO
  packages/elements/src/overlay/managers/viewport-manager.ts
Labels: documentation, v7

#1005 docs: add zoom property future TODO
  package-lock.json
  packages/elements/src/overlay/managers/viewport-manager.ts
Labels: documentation, v6

#998 fix(list): `selectItem()` should always require a param
  packages/elements/src/list/elements/list.ts
Labels: bug, v7

#1010 fix(list): `selectItem()` should always require a param
  packages/elements/src/list/elements/list.ts
Labels: bug, v6
