Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-05, with the labels that each got.

#671 feat: export `nothing` value from `lit`
  packages/core/src/index.ts
Labels: enhancement

#672 v7 npm audit upgrade and update dependencies
  package-lock.json
  package.json
  packages/elements/scripts/cmd/start.mjs
  packages/theme-compiler/package.json
Labels: dependencies

#683 docs: add file extension to dynamic import of theme switching example
  documents/src/pages/build-app/theme-switching.md
Labels: documentation

#679 Test/resize observer loop handler
  packages/elements/src/clock/__test__/clock.interactive.test.js
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/overlay/__test__/managers/backdrop-manager.test.js
  packages/elements/src/overlay/__test__/managers/viewport-manager.test.js
  packages/test-helpers/__test__/test-helpers.test.js
  packages/test-helpers/package.json
  packages/test-helpers/src/test-helpers.ts
Labels: ci

#680 fix: responsive element not work in ios 15 and below
  packages/core/src/elements/ResponsiveElement.ts
Labels: bug

#674 refactor: group conditions that returns same value
  packages/elements/src/color-dialog/helpers/value-model.ts
Labels: refactor

#673 refactor: replace `ifDefined` directive with `nothing` falsy value
  packages/elements/src/calendar/index.ts
  packages/elements/src/collapse/index.ts
  packages/elements/src/color-picker/index.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/multi-input/index.ts
  packages/elements/src/overlay-menu/index.ts
  packages/elements/src/pagination/index.ts
  packages/elements/src/search-field/index.ts
  packages/elements/src/sidebar-layout/index.ts
  packages/elements/src/slider/index.ts
  packages/elements/src/text-field/index.ts
  packages/elements/src/time-picker/index.ts
  packages/elements/src/tornado-chart/elements/tornado-item.ts
  packages/elements/src/tree-select/index.ts
Labels: refactor

#682 fix: remove z-index from collapse
  documents/src/pages/elements/collapse.md
  packages/elemental-theme/src/custom-elements/ef-collapse.less
  packages/elements/src/accordion/__test__/accordion.test.js
  packages/elements/src/collapse/__snapshots__/Collapse.md
  packages/elements/src/collapse/__test__/collapse.test.js
  packages/elements/src/collapse/index.ts
  packages/halo-theme/src/custom-elements/ef-collapse.less
Labels: bug

#677 refactor: rename variable to avoid clashing it with imported type
  packages/elements/src/tooltip/index.ts
Labels: refactor

#676 refactor: default parameter should be the last one
  packages/elements/src/datetime-field/index.ts
  packages/elements/src/datetime-field/utils.ts
  packages/elements/src/number-field/index.ts
Labels: refactor

#675 refactor: remove legacy Enter keyCode
  packages/elements/src/slider/index.ts
  packages/elements/src/toggle/__test__/toggle.test.js
  packages/elements/src/toggle/index.ts
Labels: refactor

#699 refactor: use optional chaining instead
  packages/elements/src/autosuggest/index.ts
Labels: refactor

#701 refactor: replace ternary operator with `if-else` statement
  packages/elements/src/slider/index.ts
Labels: refactor

#686 feat(icon, flag): updateComplete resolves after svg is ready
  packages/elements/src/flag/__demo__/index.html
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/__test__/helpers/helpers.js
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/__test__/helpers/helpers.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/utils/src/loader/cdn-loader.ts
  packages/utils/src/loader/deferred.ts
Labels: ci, refactor

#697 fix: line-height to match specs
  packages/demo-block/src/demo-block.ts
  packages/elemental-theme/src/colours.less
  packages/elemental-theme/src/native-elements/body.less
  packages/elemental-theme/src/native-elements/button.less
  packages/elemental-theme/src/native-elements/p.less
  packages/elemental-theme/src/variables.less
  packages/halo-theme/src/native-elements/body.less
  packages/halo-theme/src/native-elements/p.less
  packages/solar-theme/src/native-elements/body.less
Labels: bug

#700 refactor: extract nested ternary operator
  packages/elements/src/calendar/index.ts
Labels: refactor

#717 docs(elements): deprecate src from ef-icon and ef-flag
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
Labels: documentation

#720 Docs/chart-localisation
  documents/src/pages/elements/chart.md
  packages/elements/src/chart/__demo__/index.html
Labels: documentation
