Repository Refinitiv/refinitiv-ui, pull requests merged in 2023-06, with the labels that each got.

#709 V7 browserstack improvement
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  package-lock.json
  package.json
  packages/elements/src/calendar/__test__/utils.js
  packages/elements/src/overlay/__test__/managers/focus-manager.test.js
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/tab-bar/__test__/tab-bar.template.test.js
  scripts/tests/run.mjs
  scripts/tests/runner.mjs
  web-test-runner.config.mjs
Labels: ci

#714 chore: add safari minus 2 to supportedBrowsers
  browsers.config.mjs
Labels: ci

#730 chore/update cache key on setup action
  .github/actions/setup/action.yml
Labels: ci

#737 refactor(chart): rename variable clarifying its value
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Labels: refactor

#742 refactor(icon,flag): add deprecation warning for src attribute and property
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
Labels: refactor

#744 V7 nightly test run one browser per job
  .github/workflows/test.yml
  .github/workflows/test_nightly.yml
  package.json
  packages/elements/scripts/cmd/test.mjs
  packages/elements/src/swing-gauge/__test__/swing-gauge.test.js
  scripts/tests/run.mjs
  scripts/tests/runner.mjs
  web-test-runner.config.mjs
Labels: ci

#751 Chore/ci-cache-per-workflow-only
  .github/actions/setup/action.yml
  .github/workflows/test.yml
  .github/workflows/test_browserstack.yml
  .github/workflows/test_coverage.yml
  .github/workflows/test_nightly.yml
Labels: ci

#740 Docs/update-chart-live-examples
  documents/package.json
  documents/src/pages/elements/chart.md
  documents/src/templates/import-element/ef-chart.md
  package-lock.json
  packages/elements/src/chart/__demo__/index.html
Labels: documentation

#746 fix(chart): fix radar scale backdrop to be false
  packages/elements/src/chart/elements/chart.ts
  packages/elements/src/chart/plugins/doughnut-center-label.ts
Labels: bug

#748 ci: sync nightly test v7 workflow to v6 repository
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Labels: ci

#750 🔐 Use HTTP2 with Web Test Runner
  .github/actions/run-test/action.yml
  .github/workflows/test.yml
  .github/workflows/test_nightly.yml
  .gitignore
  scripts/tests/run.mjs
  web-test-runner.config.mjs
Labels: ci, enhancement

#756 ci: refactor nightly test v6 and v7
  .github/workflows/test_nightly_v6.yml
  .github/workflows/test_nightly_v7.yml
Labels: ci

#755 Chore/revise-ci-cache-key
  .github/actions/setup/action.yml
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Labels: ci

#749 refactor: remove deprecate api and related
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/src/elements/BasicElement.ts
  packages/elements/src/flag/__test__/flag.test.js
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/elements/src/interactive-chart/__test__/interactive-chart.test.js
  packages/elements/src/interactive-chart/index.ts
Labels: refactor

#757 fix(number-field): fix Floating point Division on validate method
  packages/elements/src/number-field/__test__/number-field.validity.test.js
  packages/elements/src/number-field/index.ts
Labels: bug

#764 chore(create-efx): update dependencies in package info template
  packages/create-efx/template/package.json.template
Labels: dependencies

#765 docs(flag,icon): remove src usage from docs and code block
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/index.ts
Labels: documentation

#767 V7 refactor GitHub workflows
  .github/workflows/main_branch_check.yml
  .github/workflows/pr_check.yml
  .github/workflows/size_report.yml
  .github/workflows/test_browserstack.yml
Labels: ci

#769 fix(password-field): remove tooltip and text ellipsis when overflow
  packages/elemental-theme/src/custom-elements/ef-password-field.less
  packages/elements/src/password-field/index.ts
Labels: bug

#770 chore: revert from specific command lerna to the whole package one
  package-lock.json
  package.json
Labels: ci, dependencies

#773 chore: update lerna version to 6
  package-lock.json
  package.json
Labels: enhancement

#774 chore(docs): update redirect to v7 sandbox
  documents/src/_redirects
Labels: documentation

#775 docs: add reportValidity section
  documents/src/pages/elements/number-field.md
Labels: documentation

#778 docs(flag,icon): remove unused attribute in code block
  documents/src/pages/elements/flag.md
  documents/src/pages/elements/icon.md
Labels: documentation

#772 fix(number-field): fix invalid regex
  packages/elements/src/number-field/__snapshots__/NumberField.md
  packages/elements/src/number-field/index.ts
Labels: bug

#782 Docs/return-of-live-examples
  documents/src/pages/elements/chart.md
Labels: documentation

#776 chore(text-field, password-field, email-field): update demo show error state
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/password-field/__demo__/index.html
  packages/elements/src/text-field/__demo__/index.html
Labels: enhancement

#781 refactor(utils): remove local cache utils
  documents/src/pages/utils/cache.md
  package-lock.json
  packages/utils/package.json
  packages/utils/src/cache.ts
  packages/utils/src/cache/constants.ts
  packages/utils/src/cache/interfaces/CacheItem.ts
  packages/utils/src/cache/interfaces/CacheMap.ts
  packages/utils/src/cache/interfaces/CacheStorage.ts
  packages/utils/src/cache/local-cache.ts
  packages/utils/src/cache/storages/indexeddb.ts
  packages/utils/src/cache/storages/localstorage.ts
Labels: refactor

#785 docs(number-field): show error state and update validate section
  documents/src/pages/elements/number-field.md
Labels: documentation

#786 Use GitHub Action Reusable workflows run unit test
  .github/actions/run-test/action.yml
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
  .github/workflows/test_all_browsers.yml
  .github/workflows/test_browser_versions.yml
  .github/workflows/test_nightly.yml
  .github/workflows/test_nightly_v7.yml
Labels: ci, refactor, v7

#790 docs: add release policy page
  documents/src/navigation.md
  documents/src/pages/start/browser-support.md
  documents/src/pages/start/release-policy.md
Labels: documentation, v7

#789 ci: remove nightly test v6 workflow
  .github/workflows/test_nightly_v6.yml
Labels: ci, v6
