Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-02, with the labels that each got.

#1095 fix(collapse): update focus style to align with halo design
  packages/elemental-theme/src/custom-elements/ef-collapse.less
  packages/elements/src/accordion/__demo__/index.html
  packages/elements/src/collapse/__snapshots__/Collapse.md
  packages/elements/src/collapse/index.ts
  packages/halo-theme/src/custom-elements/ef-collapse.less
Labels: bug, v6

#1094 fix(collapse): update focus style to align with halo design
  packages/elemental-theme/src/custom-elements/ef-collapse.less
  packages/elements/src/accordion/__demo__/index.html
  packages/elements/src/collapse/__test__/__snapshots__/collapse.test.snap.js
  packages/elements/src/collapse/index.ts
  packages/halo-theme/src/custom-elements/ef-collapse.less
Labels: bug, v7

#1097 Add interface snippet for Data property interface section
  documents/src/pages/build-app/framework-integration/angular.md
  documents/src/pages/build-element/configuration-and-states.md
  documents/src/pages/build-element/events.md
  documents/src/pages/build-element/notice-messages.md
  documents/src/pages/build-element/tutorial.md
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/overlay-menu.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  documents/src/pages/utils/data-management.md
Labels: documentation, v7

#1098 Add Data Interface in docs instead of a link to code
  documents/src/pages/build-app/framework-integration/angular.md
  documents/src/pages/build-element/configuration-and-states.md
  documents/src/pages/build-element/events.md
  documents/src/pages/build-element/notice-messages.md
  documents/src/pages/build-element/tutorial.md
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  documents/src/pages/elements/overlay-menu.md
  documents/src/pages/elements/select.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  documents/src/pages/utils/data-management.md
Labels: documentation, v6

#1079 fix(datetime-picker): update accessibility
  documents/src/pages/elements/datetime-picker.md
  documents/src/phrasebook.js
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.accessibility.test.js
  packages/elements/src/datetime-picker/constants.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/datetime-picker/locales.ts
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/de/datetime-picker.ts
  packages/phrasebook/src/locale/en/datetime-picker.ts
  packages/phrasebook/src/locale/ja/datetime-picker.ts
  packages/phrasebook/src/locale/zh-hant/datetime-picker.ts
  packages/phrasebook/src/locale/zh/datetime-picker.ts
Labels: bug, documentation, dependencies, v7

#1088 fix(datetime-picker): update accessibility
  documents/src/pages/elements/datetime-picker.md
  documents/src/phrasebook.js
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__snapshots__/DOMStructure.md
  packages/elements/src/datetime-picker/__test__/datetime-picker.accessibility.test.js
  packages/elements/src/datetime-picker/constants.ts
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/datetime-picker/locales.ts
  packages/phrasebook/package.json
  packages/phrasebook/src/locale/de/datetime-picker.ts
  packages/phrasebook/src/locale/en/datetime-picker.ts
  packages/phrasebook/src/locale/ja/datetime-picker.ts
  packages/phrasebook/src/locale/zh-hant/datetime-picker.ts
  packages/phrasebook/src/locale/zh/datetime-picker.ts
Labels: bug, documentation, dependencies, v6

#1090 Chore: add scripts in JavaScript to linting target
  .eslintrc
  documents/package.json
  documents/scripts/element.injector.js
  documents/scripts/paths.js
  package.json
  scripts/helpers/index.js
  scripts/release/api-analyzer.cjs
  scripts/release/theme-extractor.js
  scripts/tests/run.js
  scripts/tests/runner.js
Labels: dependencies, v7

#1101 Chore: add scripts in JavaScript to linting target
  .eslintrc
  documents/package.json
  documents/scripts/element.injector.js
  documents/scripts/paths.js
  package.json
  packages/core/scripts/release/index.js
  packages/demo-block/scripts/release/index.js
  packages/elements/scripts/cmd/build.js
  packages/elements/scripts/cmd/lint.js
  packages/elements/scripts/cmd/start.js
  packages/elements/scripts/helpers/index.js
  packages/elements/scripts/release/index.js
  scripts/dev-server/index.js
  scripts/karma/index.js
  scripts/karma/karma-esm/index.js
  scripts/karma/karma-esm/setup-es-dev-server.js
  scripts/karma/plugins/inject-lit-polyfill.js
  scripts/release/api-analyzer.js
  scripts/release/jsxdts-generator.js
  scripts/release/theme-extractor.js
  scripts/release/versioning.js
Labels: dependencies, v6

#1104 fix: missing scrollbar custom style on Chrome 121
  packages/elemental-theme/src/custom-elements/ef-autosuggest.less
  packages/elemental-theme/src/custom-elements/ef-card.less
  packages/elemental-theme/src/custom-elements/ef-combo-box.less
  packages/elemental-theme/src/custom-elements/ef-dialog.less
  packages/elemental-theme/src/custom-elements/ef-multi-input.less
  packages/elemental-theme/src/custom-elements/ef-overlay-menu.less
  packages/elemental-theme/src/custom-elements/ef-overlay.less
  packages/elemental-theme/src/custom-elements/ef-select.less
  packages/elemental-theme/src/custom-elements/ef-sidebar-layout.less
  packages/elemental-theme/src/native-elements/html.less
  packages/elemental-theme/src/shared-styles/list.less
  packages/elemental-theme/src/shared-styles/scrollbar.less
  packages/halo-theme/src/custom-elements/ef-select.less
  packages/halo-theme/src/native-elements/html.less
  packages/halo-theme/src/shared-styles/scrollbar.less
  packages/solar-theme/src/custom-elements/ef-select.less
Labels: bug, v6

#1103 fix: missing scrollbar custom style on Chrome 121
  packages/elemental-theme/src/custom-elements/ef-autosuggest.less
  packages/elemental-theme/src/custom-elements/ef-card.less
  packages/elemental-theme/src/custom-elements/ef-combo-box.less
  packages/elemental-theme/src/custom-elements/ef-dialog.less
  packages/elemental-theme/src/custom-elements/ef-multi-input.less
  packages/elemental-theme/src/custom-elements/ef-overlay-menu.less
  packages/elemental-theme/src/custom-elements/ef-overlay.less
  packages/elemental-theme/src/custom-elements/ef-select.less
  packages/elemental-theme/src/custom-elements/ef-sidebar-layout.less
  packages/elemental-theme/src/native-elements/html.less
  packages/elemental-theme/src/shared-styles/list.less
  packages/elemental-theme/src/shared-styles/scrollbar.less
  packages/halo-theme/src/custom-elements/ef-select.less
  packages/halo-theme/src/native-elements/html.less
  packages/halo-theme/src/shared-styles/scrollbar.less
  packages/solar-theme/src/custom-elements/ef-select.less
Labels: bug, v7

#1076 add(docs): generate ts to markdown
  documents/package.json
  documents/scripts/paths.js
  package-lock.json
  package.json
  packages/elements/src/tree/managers/tree-manager.ts
  scripts/release/class-api-analyzer.js
  scripts/release/util.js
  scripts/release/utils.injector.js
Labels: documentation, dependencies, v7

#1106 chore: update ip package
  package-lock.json
Labels: v6

#1105 chore: update ip package
  package-lock.json
Labels: v7

#1102 Add new config in Heatmap to customise maximum font size in the cells
  packages/elements/src/heatmap/helpers/text.ts
  packages/elements/src/heatmap/index.ts
Labels: documentation, enhancement, v7

#1107 add new config in Heatmap to customise maximum font size in the cells
  packages/elements/src/heatmap/helpers/text.ts
  packages/elements/src/heatmap/index.ts
Labels: v6

#1109 docs(heatmap): fix label-width description
  packages/elements/src/heatmap/index.ts
Labels: v6

#1108 docs(heatmap): fix label-width description
  packages/elements/src/heatmap/index.ts
Labels: documentation, v7

#1110 docs(heatmap): fix label-width description
  packages/elements/src/heatmap/index.ts
Labels: documentation, v7

#1111 docs(heatmap): fix label-width description
  packages/elements/src/heatmap/index.ts
Labels: v6

#1113 chore(chart): update chart.js min version to 4.4.2
  package-lock.json
  packages/elements/package.json
Labels: dependencies, v7
