Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-09, with the labels that each got.

#1211 chore: patch vulnerability package in dependencies
  package-lock.json
  package.json
Labels: dependencies, v6

#1214 chore(ci): deprecate solar-theme only when it's not already deprecated
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Labels: ci, v7

#1215 chore(ci): deprecate solar-theme only when it's not already deprecated
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Labels: ci, v6

#1217 fix(tree, tree-select, combo-box): apply filter when it's updated
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
Labels: bug, v7

#1220 chore: patch vulnerability in vite
  package-lock.json
  package.json
Labels: enhancement, v7

#1221 chore: bump test platform to Safari/iOS 16 - 18
  browsers.config.js
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
Labels: v7
