Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-05, with the labels that each got.

#1152 refactor(overlay): improve non-standard css zoom handling
  documents/src/pages/elements/overlay.md
  packages/elements/src/overlay/managers/viewport-manager.ts
Labels: documentation, refactor, v7

#1153 refactor(overlay): improve non-standard css zoom handling
  documents/src/pages/elements/overlay.md
  packages/elements/src/overlay/managers/viewport-manager.ts
Labels: documentation, refactor, v6

#1154 chore: update SonarCloud GitHub action
  .github/workflows/sonarcloud_scan.yml
Labels: ci, v7

#1155 chore: update SonarCloud GitHub action
  .github/workflows/sonarcloud_scan.yml
Labels: ci, v6

#1135 docs: fix description of treemanager api
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  documents/src/pages/utils/tree-manager.md
  documents/src/pages/utils/tree-node.md
  packages/elements/src/tree/managers/tree-manager.ts
  packages/elements/src/tree/managers/tree-node.ts
  scripts/release/class-api-analyzer.js
  scripts/release/utils.injector.js
Labels: documentation, enhancement

#1157 chore: update ejs fixing vulnerability
  package-lock.json
Labels: dependencies, v6

#1158 chore: update ejs fixing vulnerability
  package-lock.json
Labels: dependencies, v7

#1156 fix(core): prevent error notice when define duplicate custom element into the registry
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/elements/BasicElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/elements/ResponsiveElement.test.js
  packages/core/__test__/helper.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/core/__test__/utils/elementReady.test.js
  packages/core/src/registries/CustomStyleRegistry.ts
  packages/core/src/registries/ElementRegistry.ts
  packages/core/src/registries/NativeStyleRegistry.ts
  packages/core/src/utils/helpers.ts
Labels: bug, v6, unit-testing

#1146 fix(core): prevent error notice when define duplicate custom element into the registry
  packages/core/__test__/decorators/CustomElement.test.js
  packages/core/__test__/elements/ControlElement.test.js
  packages/core/__test__/elements/ResponsiveElement.test.js
  packages/core/__test__/helper.js
  packages/core/__test__/registries/CustomStyleRegistry.test.js
  packages/core/__test__/registries/ElementRegistry.test.js
  packages/core/__test__/registries/NativeStyleRegistry.test.js
  packages/core/__test__/utils/elementReady.test.js
  packages/core/src/registries/CustomStyleRegistry.ts
  packages/core/src/registries/ElementRegistry.ts
  packages/core/src/registries/NativeStyleRegistry.ts
  packages/core/src/utils/helpers.ts
Labels: bug, v7, unit-testing

#1149 feat(tree, tree-select): introducing new Tree Manager APIs and Tree Node
  documents/src/navigation.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  documents/src/pages/utils/tree-manager.md
  documents/src/pages/utils/tree-node.md
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/helpers/renderer.ts
  packages/elements/src/combo-box/helpers/types.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/helpers/renderer.ts
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree-select/__test__/tree-select.interaction.test.js
  packages/elements/src/tree-select/__test__/tree-select.tree-node.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/helpers/data.js
  packages/elements/src/tree/__test__/helpers/utils.js
  packages/elements/src/tree/__test__/mock_data/multi-level.js
  packages/elements/src/tree/__test__/tree-manager.test.js
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/__test__/tree.tree-node.test.js
  packages/elements/src/tree/elements/tree-item.ts
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
  packages/elements/src/tree/helpers/renderer.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/index.ts
  packages/elements/src/tree/managers/tree-manager.ts
  packages/elements/src/tree/managers/tree-node.ts
  packages/utils/src/collection/collection-composer.ts
  packages/utils/src/collection/data-item.ts
  scripts/release/class-api-analyzer.js
  scripts/release/util.js
  scripts/release/utils.injector.js
  sonar-project.properties
Labels: documentation, enhancement, v7

#1159 test(tree-select): wait another frame before assertion for iOS 15
  packages/elements/src/tree-select/__test__/tree-select.tree-node.test.js
Labels: v7, unit-testing

#1162 test(calendar, translate) resolve inconsistent full date pattern of en-GB
  packages/elements/src/calendar/__snapshots__/Defaults.md
  packages/elements/src/calendar/__snapshots__/KeyboardNavigation.md
  packages/elements/src/calendar/__snapshots__/Multiple.md
  packages/elements/src/calendar/__snapshots__/Navigation.md
  packages/elements/src/calendar/__snapshots__/Range.md
  packages/elements/src/calendar/__snapshots__/Value.md
  packages/elements/src/calendar/__test__/calendar.defaults.test.js
  packages/elements/src/calendar/__test__/calendar.keyboard.test.js
  packages/elements/src/calendar/__test__/calendar.multiple.test.js
  packages/elements/src/calendar/__test__/calendar.navigation.test.js
  packages/elements/src/calendar/__test__/calendar.range.test.js
  packages/elements/src/calendar/__test__/calendar.value.test.js
  packages/translate/__demo__/index.html
  packages/translate/__test__/elf-translate-element.test.js
Labels: v6, unit-testing

#1161 fix(chart): fix gridlines colors
  packages/elements/src/chart/__test__/chart.test.js
  packages/elements/src/chart/elements/chart.ts
Labels: bug, v7

#1163 fix(datetime-picker): fix changing format doesn't sync to input
  packages/elements/src/datetime-picker/__test__/datetime-picker.default.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v6

#1164 fix(datetime-picker): fix changing format doesn't sync to input
  packages/elements/src/datetime-picker/__test__/datetime-picker.default.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v7
