Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-07, with the labels that each got.

#1191 fix(card): expand body instead of header and footer
  packages/elemental-theme/src/custom-elements/ef-card.less
  packages/elements/src/card/index.ts
Labels: bug, v6

#1194 fix(card): expand body instead of header and footer
  packages/elemental-theme/src/custom-elements/ef-card.less
  packages/elements/src/card/index.ts
Labels: bug, v7

#1193 chore: deprecate solar theme
  README.md
  documents/src/index.md
  packages/solar-theme/README.md
Labels: documentation, v7

#1192 chore: deprecate solar theme
  README.md
  packages/solar-theme/README.md
Labels: documentation, v6

#1195 fix(slider): reflect to old value on empty input value
  README.md
  packages/elements/src/slider/elements/slider.ts
Labels: bug, documentation, v7

#1201 chore: add script to deprecate solar theme when release
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Labels: ci, v7

#1202 chore: add script to deprecate solar theme when release
  .github/workflows/pre_release.yml
  .github/workflows/prod_release.yml
Labels: ci, v6
