Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-01, with the labels that each got.

#1056 fix(create-efx): add extension to bin file for support type module
  packages/create-efx/bin/create-efx
  packages/create-efx/bin/create-efx.js
  packages/create-efx/package.json
  packages/create-efx/template/package.json.template
Labels: bug, dependencies, v7

#1061 chore: bump deps versions in package.json to match with installed packages
  package-lock.json
  package.json
Labels: v6

#1062 chore: bump deps versions in package.json to match with installed package
  package-lock.json
  package.json
Labels: v7

#1057 docs: revise Angular tutorial contents and example code
  documents/src/pages/build-app/framework-integration/angular.md
  documents/src/pages/build-app/framework-integration/react.md
  documents/src/pages/build-app/framework-integration/vue.md
Labels: documentation, v7

#1068 chore: ignore .nx folder
  .github/workflows/pr_check.yml
  .gitignore
Labels: ci, v6

#1067 chore: ignore .nx folder
  .github/workflows/pr_check.yml
  .gitignore
  package-lock.json
  package.json
Labels: ci, v7

#1069 docs(slider): update responsive marker
  documents/src/pages/elements/slider.md
Labels: documentation, v7

#1070 docs(slider): update responsive marker v6
  documents/src/pages/elements/slider.md
Labels: documentation, v6

#1059 refactor(theme-compiler): replace RegExp with SVGO for inline SVG optimization
  package-lock.json
  packages/theme-compiler/package.json
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Labels: dependencies, refactor, v6

#1060 refactor(theme-compiler): replace RegExp with SVGO for inline SVG optimization
  package-lock.json
  packages/theme-compiler/package.json
  packages/theme-compiler/src/less-plugin-inline-svg/encoders.js
Labels: dependencies, refactor, v7

#1078 docs(slider): update feedback from demo v6
  documents/src/pages/elements/slider.md
Labels: documentation, v6

#1077 docs(slider): update feedback from demo
  documents/src/pages/elements/slider.md
Labels: documentation, v7

#1080 docs(tree-select): fix typo on CSS Variables section
  documents/src/pages/elements/tree-select.md
Labels: documentation, v7

#1081 docs(tree-select): fix typo on CSS Variables section. v6
  documents/src/pages/elements/tree-select.md
Labels: documentation, v6

#1074 fix(notification): remove window error event listener v6
  documents/src/pages/elements/notification.md
  packages/elements/src/notification/helpers/status.ts
Labels: bug, documentation, v6

#1073 fix(notification): remove window error event listener
  documents/src/pages/elements/notification.md
  packages/elements/src/notification/helpers/status.ts
Labels: bug, documentation, v7

#1071 fix(autosuggest): incorrect mark style
  packages/elemental-theme/src/custom-elements/ef-autosuggest.less
  packages/elemental-theme/src/custom-elements/ef-item.less
  packages/elemental-theme/src/native-elements/mark.less
  packages/elements/src/autosuggest/__demo__/index.html
  packages/halo-theme/src/custom-elements/ef-autosuggest.less
Labels: bug, v6

#1066 fix(autosuggest): incorrect mark style
  packages/elemental-theme/src/custom-elements/ef-autosuggest.less
  packages/elemental-theme/src/custom-elements/ef-item.less
  packages/elemental-theme/src/native-elements/mark.less
  packages/elements/src/autosuggest/__demo__/index.html
  packages/halo-theme/src/custom-elements/ef-autosuggest.less
Labels: bug, v7

#1083 refactor(combo-box): move placeholder property to document comment
  packages/elements/src/combo-box/index.ts
Labels: documentation, refactor, v7

#1084 refactor(combo-box): move placeholder property to document comment
  packages/elements/src/combo-box/index.ts
Labels: documentation, refactor, v6

#1063 refactor: add event listeners to all shadow roots
  packages/core/src/registries/FocusRegistry.ts
Labels: refactor, v7

#1075 refactor: add event listeners to all shadow roots
  packages/core/src/registries/FocusRegistry.ts
Labels: refactor, v6

#1082 fix(theme-compiler): resolve invalid import for packaged theme compiler
  packages/theme-compiler/bin/theme-compiler.js
Labels: bug, v7

#1072 chore: fix firefox 121+ binary path issue on macOS
  karma.config.js
Labels: bug, v6

#1091 docs(interactive-chart): improve readability of example code
  documents/src/pages/elements/interactive-chart.md
Labels: documentation, v6

#1093 chore: update vite to prevent server.fs.deny bypass
  package-lock.json
  package.json
Labels: dependencies, v7
