Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-04, with the labels that each got.

#1139 docs: update accessibility overview page
  documents/src/pages/accessibility.md
Labels: documentation, v6

#1138 docs: update accessibility overview page
  documents/src/pages/accessibility.md
Labels: documentation, v7

#1137 chore: update target test version of Android to 12 - 14
  browsers.config.js
  package-lock.json
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/test-helpers/package.json
Labels: ci, dependencies, v7

#1142 docs(datetime-picker): fix typo on 'format' prop comment
  packages/elements/src/datetime-picker/index.ts
Labels: v6

#1141 docs(datetime-picker): fix typo on 'format' prop comment
  packages/elements/src/datetime-picker/index.ts
Labels: documentation, v7

#1133 feat(tree, tree-select): simplify managing item properties in TreeManager with TreeNode
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree-select/__test__/tree-select.tree-node.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/helpers/data.js
  packages/elements/src/tree/__test__/helpers/utils.js
  packages/elements/src/tree/__test__/mock_data/multi-level.js
  packages/elements/src/tree/__test__/tree-manager.test.js
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/__test__/tree.tree-node.test.js
  packages/elements/src/tree/elements/tree-item.ts
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/renderer.ts
  packages/elements/src/tree/index.ts
  packages/elements/src/tree/managers/tree-manager.ts
  packages/elements/src/tree/managers/tree-node.ts
  packages/utils/src/collection/collection-composer.ts
  packages/utils/src/collection/data-item.ts
  scripts/release/util.js
  sonar-project.properties
Labels: enhancement, v7

#1144 chore: update vite fixing server.fs.deny vulnerability
  package-lock.json
Labels: v7

#1145 docs: add Tree Node doc and its API reference
  documents/src/navigation.md
  documents/src/pages/utils/tree-node.md
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/renderer.ts
Labels: documentation, enhancement

#1147 fix(icon, flag, utils): resolve performance issue when rendering a lot of icons
  packages/elements/src/flag/index.ts
  packages/elements/src/icon/__test__/icon.cdn-prefix.test.js
  packages/elements/src/icon/__test__/icon.test.js
  packages/elements/src/icon/index.ts
  packages/utils/src/loader/cdn-loader.ts
  packages/utils/src/loader/deferred.ts
  packages/utils/src/loader/svg-loader.ts
Labels: bug, v7

#1151 chore: update github actions fixing deprecated node versions
  .github/actions/setup/action.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/pr_check.yml
Labels: ci, v6
