Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-06, with the labels that each got.

#1173 docs: celebrate pride month
  documents/src/index.md
Labels: documentation, v7

#1170 fix(combo-box, list, tree): make implicit type of renderer explicit
  packages/elements/src/combo-box/helpers/renderer.ts
  packages/elements/src/list/helpers/renderer.ts
  packages/elements/src/tree/helpers/renderer.ts
Labels: bug, v6

#1165 feat(time-picker): add build-in validation for partial input value
  documents/src/pages/elements/time-picker.md
  packages/elemental-theme/src/custom-elements/ef-time-picker.less
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/time-picker/__demo__/index.html
  packages/elements/src/time-picker/__test__/time-picker.test.js
  packages/elements/src/time-picker/index.ts
  packages/halo-theme/src/custom-elements/ef-time-picker.less
  packages/solar-theme/src/custom-elements/ef-time-picker.less
Labels: documentation, enhancement, v7, unit-testing

#1166 feat(time-picker): add build-in validation for partial input value
  documents/src/pages/elements/time-picker.md
  packages/elemental-theme/src/custom-elements/ef-time-picker.less
  packages/elements/src/datetime-picker/__snapshots__/DOMStructure.md
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/time-picker/__demo__/index.html
  packages/elements/src/time-picker/__test__/time-picker.test.js
  packages/elements/src/time-picker/index.ts
  packages/halo-theme/src/custom-elements/ef-time-picker.less
  packages/solar-theme/src/custom-elements/ef-time-picker.less
Labels: documentation, enhancement, v6, unit-testing

#1169 feat(tree): enable custom filter of query
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/__test__/__snapshots__/combo-box.filter.test.snap.js
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/swing-gauge/index.ts
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tree-select/__demo__/countries.js
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/helpers/data.js
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
  packages/elements/src/tree/index.ts
Labels: documentation, enhancement, v7

#1172 feat(tree): enable custom filter of query
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/tree-select.md
  documents/src/pages/elements/tree.md
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/__snapshots__/Filter.md
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/swing-gauge/index.ts
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tree-select/__demo__/countries.js
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/__test__/tree-select.filter.test.js
  packages/elements/src/tree-select/__test__/utils.js
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/__test__/helpers/data.js
  packages/elements/src/tree/__test__/tree.test.js
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
  packages/elements/src/tree/index.ts
Labels: documentation, enhancement, v6

#1175 fix(datetime-picker): incorrect value with 2 digits year format
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/utils.ts
Labels: bug, v6

#1174 fix(datetime-picker): incorrect value with 2 digits year format
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/utils.ts
Labels: bug, v7

#1177 chore: update braces to fix vulnerability
  package-lock.json
  packages/elements/src/combo-box/__test__/combo-box.filter.test.js
Labels: v6

#1176 chore: update braces to fix vulnerability
  package-lock.json
Labels: v7

#1181 chore: use double quote with chokidar for cross-platform compatibility
  packages/elemental-theme/package.json
  packages/halo-theme/package.json
  packages/solar-theme/package.json
Labels: bug, dependencies, v6

#1180 chore: use double quote with chokidar for cross-platform compatibility
  packages/elemental-theme/package.json
  packages/halo-theme/package.json
  packages/solar-theme/package.json
Labels: bug, dependencies, v7

#1179 fix(slider): resolve missing thumb reference when from and to are initially equal
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/elements/slider.ts
Labels: bug, v6

#1178 fix(slider): resolve missing thumb reference when from and to are initially equal
  packages/elements/src/slider/__test__/slider.event.test.js
  packages/elements/src/slider/elements/slider.ts
Labels: bug, v7

#1185 docs(radio-button, overlay-menu): update example usage
  documents/src/pages/elements/overlay-menu.md
  documents/src/pages/elements/radio-button.md
Labels: documentation, v7

#1186 feat(form-field): introduce clears api to Form field elements
  documents/src/pages/elements/text-field.md
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/core/src/elements/FormFieldElement.ts
  packages/elemental-theme/src/custom-elements/ef-datetime-picker.less
  packages/elemental-theme/src/custom-elements/ef-text-field.less
  packages/elements/src/combo-box/__demo__/clears.html
  packages/elements/src/combo-box/__snapshots__/Filter.md
  packages/elements/src/combo-box/__snapshots__/Template.md
  packages/elements/src/combo-box/__test__/combo-box.interaction.test.js
  packages/elements/src/combo-box/__test__/combo-box.template.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__snapshots__/DOMStructure.md
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/email-field/index.ts
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__snapshots__/NumberField.md
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/search-field/__demo__/index.html
  packages/elements/src/search-field/index.ts
  packages/elements/src/text-field/__demo__/index.html
  packages/elements/src/text-field/__snapshots__/TextField.md
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/text-field/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/index.ts
  packages/halo-theme/src/custom-elements/ef-combo-box.less
  packages/halo-theme/src/custom-elements/ef-datetime-picker.less
  packages/halo-theme/src/custom-elements/ef-text-field.less
  packages/halo-theme/src/custom-elements/ef-tree-select.less
Labels: documentation, enhancement, v6

#1167 feat(form-field): introduce clears api to Form field elements
  documents/src/pages/elements/text-field.md
  packages/core/__test__/elements/FormFieldElement.test.js
  packages/core/src/elements/FormFieldElement.ts
  packages/elemental-theme/src/custom-elements/ef-datetime-picker.less
  packages/elemental-theme/src/custom-elements/ef-text-field.less
  packages/elements/src/combo-box/__demo__/clears.html
  packages/elements/src/combo-box/__test__/__snapshots__/combo-box.template.test.snap.js
  packages/elements/src/combo-box/__test__/combo-box.interaction.test.js
  packages/elements/src/combo-box/__test__/combo-box.template.test.js
  packages/elements/src/combo-box/index.ts
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/__snapshots__/datetime-picker.snapshot.test.snap.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.snapshot.test.js
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
  packages/elements/src/email-field/__demo__/index.html
  packages/elements/src/email-field/index.ts
  packages/elements/src/number-field/__demo__/index.html
  packages/elements/src/number-field/__test__/__snapshots__/number-field.test.snap.js
  packages/elements/src/number-field/__test__/number-field.test.js
  packages/elements/src/number-field/index.ts
  packages/elements/src/password-field/index.ts
  packages/elements/src/search-field/__demo__/index.html
  packages/elements/src/search-field/index.ts
  packages/elements/src/text-field/__demo__/index.html
  packages/elements/src/text-field/__test__/__snapshots__/text-field.test.snap.js
  packages/elements/src/text-field/__test__/text-field.test.js
  packages/elements/src/text-field/index.ts
  packages/elements/src/tree-select/__demo__/index.html
  packages/elements/src/tree-select/index.ts
  packages/halo-theme/src/custom-elements/ef-combo-box.less
  packages/halo-theme/src/custom-elements/ef-datetime-picker.less
  packages/halo-theme/src/custom-elements/ef-text-field.less
  packages/halo-theme/src/custom-elements/ef-tree-select.less
Labels: documentation, enhancement, v7

#1188 docs(sidebar-layout): fix color contrast in sandbox
  documents/src/pages/elements/sidebar-layout.md
Labels: documentation, v7

#1189 docs(sidebar-layout): fix color contrast in sandbox
  documents/src/pages/elements/sidebar-layout.md
Labels: documentation, v6

#1183 chore: fix vulnerability of ip package
  package-lock.json
  package.json
Labels: v7

#1182 chore: fix vulnerability of ws and ip package
  package-lock.json
  package.json
Labels: v6
