Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-08, with the labels that each got.

#1203 chore: update dependencies fixing @75lb/deep-merge vulnerability
  package-lock.json
Labels: dependencies, v7

#1204 chore: update dependencies fixing @75lb/deep-merge vulnerability
  package-lock.json
Labels: dependencies, v6

#1198 fix(slider): sync emitted value and input value
  packages/elements/src/slider/elements/slider.ts
Labels: bug, v7

#1200 fix(slider): sync emitted value and input value
  packages/elements/src/slider/elements/slider.ts
Labels: bug, v6

#1208 fix(tree-select): fix item interface doesn't sync with values
  package-lock.json
  packages/elements/src/tree-select/index.ts
Labels: bug, v6

#1209 test(overlay): skip test case in android
  packages/elements/src/overlay/__test__/overlay-position-target.test.js
  packages/test-helpers/src/test-helpers.ts
Labels: v7

#1206 fix(tree-select): fix item interface doesn't sync with values
  package-lock.json
  packages/elements/src/tree-select/index.ts
Labels: bug, v7

#1210 chore: patch vulnerability package in dependencies
  package-lock.json
Labels: dependencies, v7
