Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-11, with the labels that each got.

#1228 fix(halo-theme): change dataviz-color2 to enhance visible for print
  packages/halo-theme/src/variants/dark/overrides.less
Labels: bug, v7

#1229 fix(halo-theme): change dataviz-color2 to enhance visible for print
  packages/halo-theme/src/variants/dark/overrides.less
Labels: bug, v6

#1232 refactor(ds-theme): grid ds theme
  packages/ds-theme/src/variants/light/variables.less
Labels: enhancement
