Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-03, with the labels that each got.

#1120 docs: update link efx-grid license
  documents/src/pages/elements/efx-grid.md
Labels: documentation, v6

#1119 docs: update link efx-grid license
  documents/src/pages/elements/efx-grid.md
Labels: documentation, v7

#1118 fix(datetime-picker): validate values for weekendsonly and weekdaysonly
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v6

#1117 fix(datetime-picker): validate values for weekendsonly and weekdaysonly
  packages/elements/src/datetime-picker/__test__/datetime-picker.value.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: bug, v7

#1124 chore: update karma-firefox-launcher and escape-string-regexp
  karma.config.js
  package-lock.json
  package.json
Labels: dependencies, v6

#1122 docs: improve accessibility section including promoting <label for> labeling method
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
Labels: documentation, v7

#1123 docs: improve accessibility section including promoting <label for> labeling method
  documents/src/pages/elements/email-field.md
  documents/src/pages/elements/number-field.md
  documents/src/pages/elements/password-field.md
  documents/src/pages/elements/search-field.md
  documents/src/pages/elements/text-field.md
Labels: documentation, v6

#1116 fix(list, combobox, tree): fix EvalError with CSP on renderer
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  package-lock.json
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/helpers/renderer.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/list/extensible-function.ts
  packages/elements/src/list/helpers/renderer.ts
  packages/elements/src/list/index.ts
  packages/elements/src/list/renderer.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/renderer.ts
  packages/elements/src/tree/index.ts
Labels: bug, documentation, v6

#1115 fix(list, combobox, tree): fix EvalError with CSP on renderer
  documents/src/pages/elements/combo-box.md
  documents/src/pages/elements/list.md
  packages/elements/src/combo-box/__demo__/index.html
  packages/elements/src/combo-box/helpers/renderer.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/elements/list.ts
  packages/elements/src/list/extensible-function.ts
  packages/elements/src/list/helpers/renderer.ts
  packages/elements/src/list/index.ts
  packages/elements/src/list/renderer.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/__demo__/index.html
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/renderer.ts
  packages/elements/src/tree/index.ts
Labels: bug, documentation, v7

#1128 refactor: add comment for sort function
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/elements/list.ts
Labels: refactor, v7

#1127 refactor: add comment for sort function
  packages/elements/src/combo-box/index.ts
  packages/elements/src/list/elements/list.ts
Labels: refactor, v6

#1129 chore: update follow-redirects package
  package-lock.json
Labels: dependencies, v7

#1130 chore: update follow-redirects package
  package-lock.json
Labels: dependencies, v6

#1136 fix(tree): fix implicit type on renderer
  packages/elements/src/combo-box/helpers/renderer.ts
  packages/elements/src/list/helpers/renderer.ts
  packages/elements/src/tree/helpers/renderer.ts
Labels: enhancement

#1126 fix(tooltip): handle body removal
  packages/demo-block/src/demo-block.ts
  packages/elements/src/overlay/managers/interaction-lock-manager.ts
  packages/elements/src/overlay/managers/viewport-manager.ts
  packages/elements/src/tooltip/elements/tooltip-element.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Labels: bug, v7

#1131 fix(tooltip): handle body removal
  package-lock.json
  packages/demo-block/src/demo-block.ts
  packages/elements/src/overlay/managers/interaction-lock-manager.ts
  packages/elements/src/overlay/managers/viewport-manager.ts
  packages/elements/src/tooltip/elements/tooltip-element.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
  sonar-project.properties
Labels: bug, dependencies, v6

#1134 feat(tree, tree-select, combo-box): allow filtering latest value of items
  packages/elements/src/combo-box/helpers/filter.ts
  packages/elements/src/combo-box/helpers/types.ts
  packages/elements/src/combo-box/index.ts
  packages/elements/src/tree-select/index.ts
  packages/elements/src/tree/elements/tree.ts
  packages/elements/src/tree/helpers/filter.ts
  packages/elements/src/tree/helpers/types.ts
  packages/elements/src/tree/managers/tree-manager.ts
Labels: documentation, enhancement, v7
