Repository Refinitiv/refinitiv-ui, pull requests merged in 2024-12, with the labels that each got.

#1231 chore: update dependencies fixing vulnerabilities
  package-lock.json
Labels: bug, v6

#1233 refactor(ds-theme): update grid variable mapping
  packages/ds-theme/src/variants/light/variables.less
Labels: refactor

#1234 fix(ds-theme): accordion border color
  packages/ds-theme/src/custom-elements/ef-accordion.less
Labels: bug

#1236 fix(ds-theme): incorrect overlay box-shadow
  packages/ds-theme/src/custom-elements/ef-overlay.less
Labels: bug

#1237 fix(ds-theme): use default background color for track and thumb when hovering slider
  packages/ds-theme/src/custom-elements/ef-slider.less
Labels: bug

#1238 fix(ds-theme): correct background color of swing gauge
  packages/ds-theme/src/custom-elements/ef-swing-gauge.less
Labels: bug

#1240 fix(ds-theme): update font weights for header and non-header items
  packages/ds-theme/src/custom-elements/ef-item.less
Labels: bug

#1241 chore: bumps playwright from 1.47.2 to 1.49.1
  .github/actions/run-test/action.yml
  package-lock.json
  web-test-runner.config.js
Labels: ci, v7

#1235 fix(ds-theme): update data visualization color scale variables
  packages/ds-theme/src/variants/light/variables.less
Labels: bug, documentation, dependencies, v7

#1239 Fix DS Theme button bar & pagination
  packages/ds-theme/src/custom-elements/ef-button-bar.less
Labels: bug

#1242 fix(ds-theme): incorrect led gauge's bar color
  packages/ds-theme/src/custom-elements/ef-led-gauge.less
Labels: bug

#1243 fix(ds-theme): override styles for slotted anchor elements in appstat…
  packages/ds-theme/src/custom-elements/ef-appstate-bar.less
  packages/ds-theme/src/custom-elements/ef-tree-select.less
  packages/elements/src/appstate-bar/__demo__/index.html
Labels: bug

#1244 fix(ds-theme): missing border when clicking at toggle pill
  packages/ds-theme/src/variants/light/variables.less
Labels: bug, documentation, dependencies, v7

#1246 Fix calender and datetime-picker ds theme
  packages/ds-theme/src/custom-elements/ef-datetime-picker.less
  packages/ds-theme/src/custom-elements/ef-overlay.less
  packages/ds-theme/src/variants/light/variables.less
Labels: bug

#1247 fix(ds-theme): update slider's track and step color based on the feedback
  packages/ds-theme/src/variants/light/variables.less
Labels: bug

#1248 fix(ds-theme): incorrect placeholder font color of text-field, input, textarea
  documents/src/pages/elements/text-field.md
  packages/ds-theme/src/custom-elements/ef-number-field.less
  packages/ds-theme/src/custom-elements/ef-text-field.less
  packages/ds-theme/src/native-elements/input.less
  packages/ds-theme/src/native-elements/textarea.less
  packages/ds-theme/src/shared-styles/placeholder.less
  packages/ds-theme/src/variants/light/variables.less
Labels: bug, documentation

#1250 docs: update content to angualr 19
  documents/src/pages/build-app/compatibility.md
  documents/src/pages/build-app/framework-integration/angular.md
Labels: documentation, v7

#1251 fix(ds-theme): enhance style in ds theme
  packages/ds-theme/src/custom-elements/ef-autosuggest.less
  packages/ds-theme/src/custom-elements/ef-combo-box.less
  packages/ds-theme/src/custom-elements/ef-datetime-picker.less
  packages/ds-theme/src/custom-elements/ef-number-field.less
  packages/ds-theme/src/custom-elements/ef-tab.less
  packages/ds-theme/src/custom-elements/ef-tree-select.less
Labels: bug, v7
