Repository Refinitiv/refinitiv-ui, pull requests merged in 2025-01, with the labels that each got.

#1252 chore: update nanoid version for security
  package-lock.json
  packages/phrasebook/package.json
  packages/test-helpers/package.json
  packages/theme-compiler/package.json
Labels: dependencies, v7

#1254 docs(datetime-picker): fix code in sandbox
  documents/src/pages/elements/datetime-picker.md
  packages/elements/src/datetime-picker/__demo__/index.html
Labels: documentation, v7

#1253 fix(interactive-chart): hide tradingview default attribution logo
  package-lock.json
  packages/elements/package.json
  packages/elements/src/interactive-chart/__test__/__snapshots__/interactive-chart.test.snap.js
  packages/elements/src/interactive-chart/index.ts
  packages/theme-compiler/package.json
Labels: bug, dependencies, v7

#1259 chore: patch vite version for security vulnerable
  package-lock.json
  package.json
Labels: dependencies, v7

#1260 fix(utils): check response header when load svg
  packages/utils/src/loader/svg-loader.ts
Labels: bug, v7

#1261 chore: update @web/test-runner-browserstack to 0.8.0
  package-lock.json
  package.json
Labels: dependencies, v7
