Repository Refinitiv/refinitiv-ui, pull requests merged in 2025-04, with the labels that each got.

#1272 chore: fix @babel/runtime, tar-fs and axios vulnerability
  package-lock.json
Labels: v7

#1273 chore: fix @babel/helpers, @babel/runtime and axios security vulnerabilities
  package-lock.json
Labels: v6

#1276 fix(tooltip): fix tooltip reopen when mouse leaves
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Labels: bug, v7

#1279 fix(tooltip): fix tooltip reopen when mouse leaves
  packages/elements/src/tooltip/__test__/tooltip.test.js
  packages/elements/src/tooltip/index.ts
  packages/elements/src/tooltip/managers/tooltip-manager.ts
Labels: bug, v6

#1278 feat(datetime-picker): introduce preventCloseOnSelect to prevents the Picker from closing on date selection
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/datetime-picker.navigation.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: enhancement, v6

#1277 feat(datetime-picker): introduce preventCloseOnSelect to prevents the Picker from closing on date selection
  packages/elements/src/datetime-picker/__demo__/index.html
  packages/elements/src/datetime-picker/__test__/datetime-picker.navigation.test.js
  packages/elements/src/datetime-picker/index.ts
Labels: enhancement, v7

#1270 Fix/nextjs report from security team
  .gitignore
Labels: bug, v7

#1280 fix: nextjs report from security team v6
  .gitignore
Labels: bug, v6
